{% block html_escort_actions %}
    {% if allow_floor_access %}
        <div>
            {% for escort_action in escort_actions[other_citizen.id] %}
                {# @var \App\Structures\EscortItemActionSet escort_action #}
                {% if other_citizen.escortSettings.allowInventoryAccess %}
                    <button {% if not escort_action.hasAvailableActions %}disabled{% endif%} class="small inline" x-escort-meta-group="{{ other_citizen.escortSettings.allowInventoryAccess ? '1' : '0' }}" x-escort-meta-action="{{ escort_action.group.id }}" x-citizen="{{ other_citizen.id }}" ><img alt="" src="{{ asset('build/images/actions/' ~ escort_action.group.icon ~ '.gif') }}" style="margin-right: 0;" />
                        {% if escort_action.group.tooltip is not null %}<div class="tooltip">{{ escort_action.group.tooltip|trans({'{citizen}': other_citizen.name},'items') }}</div>{% endif %}
                    </button>
                {% elseif escort_action.hasAvailableActions %}
                    <button class="small inline" x-escort-meta-action="{{ escort_action.group.id }}" x-citizen="{{ other_citizen.id }}" x-provoking-id="p" x-action-id="p" x-action-confirm="1"><img alt="" src="{{ asset('build/images/actions/' ~ escort_action.group.icon ~ '.gif') }}" style="margin-right: 0;" />
                        {% if escort_action.group.tooltip is not null %}<div class="tooltip">{{ escort_action.group.tooltip|trans({'{citizen}': other_citizen.name},'items') }}</div>{% endif %}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block html_escort_action_lists %}
    {% if escort_actions[other_citizen.id] is defined and other_citizen.escortSettings.allowInventoryAccess %}
        {% for escort_action in escort_actions[other_citizen.id] %}
            {# @var \App\Structures\EscortItemActionSet escort_action #}
            <div class="tooltip-dummy hidden _ec _ec_{{ other_citizen.id }}_{{ escort_action.group.id }}">
                <div class="tooltip-dummy-container">
                    <h4>{{ escort_action.group.label|trans({},'items') }}</h4>
                    <ul class="escort-action-list">
                        {% for item in escort_action.items %}
                            {# @var \App\Entity\Item item #}
                            {% for action in escort_action.availableActions(item) %}
                                <li x-provoking-id="{{ item.id }}" x-citizen="{{ other_citizen.id }}" x-action-id="{{ action.id }}" x-escort-meta-action="{{ escort_action.group.id }}"><img alt="" src="{{ asset('build/images/item/item_' ~ item.prototype.icon ~ '.gif') }}"></li>
                            {% endfor %}
                            {% for action in escort_action.crossedActions(item) %}
                                <li disabled><img alt="" src="{{ asset('build/images/item/item_' ~ item.prototype.icon ~ '.gif') }}"></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block includes %}{% endblock %}

<script>
    {% block js %}
        {% if allow_floor_access %}
            {% if conf.get(constant('App\\Structures\\TownConf::CONF_FEATURE_ESCORT'),true) %}
                $.html.addEventListenerAll( '.rucksack-escort>.item.plus[x-escort-id]:not(.locked)', 'click', function(e,elem) {
                    const eid = elem.getAttribute('x-escort-id');

                    let inv = document.querySelector('._lf_' + eid);
                    if (inv.classList.contains('hidden')) {
                        let tt = document.querySelectorAll('.tooltip-dummy');
                        for (let i = 0; i < tt.length; i++) tt[i].classList.add('hidden');
                        inv.classList.remove('hidden');
                    }
                    else inv.classList.add('hidden');
                });

                $.html.addEventListenerAll( '[x-escort-meta-group][x-escort-meta-action][x-citizen]', 'click', function(e,elem) {
                    let pp = document.querySelector('._ec_' + elem.getAttribute('x-citizen') + '_' + elem.getAttribute('x-escort-meta-action'));
                    if (pp.classList.contains('hidden')) {
                        let tt = document.querySelectorAll('.tooltip-dummy');
                        for (let i = 0; i < tt.length; i++) tt[i].classList.add('hidden');
                        pp.classList.remove('hidden');
                    } else pp.classList.add('hidden')
                });
            {% endif %}
        {% endif %}
    {% endblock %}
</script>