<div x-render-target="#wb-item-action-section">
    {% embed "ajax/game/actions.html.twig" with {'item_action_list': actions, 'recipe_list': recipes,'t': citizen.fullPropertySet, 'scout': active_scout_mode, 'hidden': citizen_hidden, 'iec': true, 'open': true} %}
    {% endembed %}
</div>

<script>
    {% embed "scripts/actions.js.twig" with {no_heroic: true} %}{% endembed %}

    handleActions(
        document.querySelectorAll('ul.actions [x-action-id][x-provoking-id]:not([disabled])'),
        '{{ path(controller_action) }}', '{{ path(controller_dash) }}'
    );

    handleRecipes(
        document.querySelectorAll('ul.actions>li[x-recipe-id]:not([disabled])'),
        '{{ path(controller_recipe) }}', '{{ path(controller_dash) }}', document.getElementById('{{ render_frame }}')
    );

    handleActionPopups( document.querySelectorAll('ul.actions [x-target-definition]') );
</script>