{% extends "ajax/soul/shell.html.twig" %}
{% block soul_content %}
    <div class="row">
        <div class="cell rw-12 padded">
            <h5>{{ 'Eine neue Seele importieren'|trans({},'soul') }}</h5>
            {% if need_sk %}
                <div class="row">
                    <div class="cell padded rw-4 rw-sm-12">
                        <label for="twin_id">{{ 'Twinoid Application ID'|trans({},'soul') }}</label>
                    </div>
                    <div class="cell padded rw-8 rw-sm-12">
                        <input id="twin_id" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="cell padded rw-4 rw-sm-12">
                        <label for="twin_sk">{{ 'Twinoid Secret Key'|trans({},'soul') }}</label>
                    </div>
                    <div class="cell padded rw-8 rw-sm-12">
                        <input id="twin_sk" type="password">
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="cell padded rw-4 rw-sm-12">
                    <label for="twin_scope">{{ 'Seele auswählen'|trans({},'soul') }}</label>
                </div>
                <div class="cell padded rw-8 rw-sm-12">
                    <select id="twin_scope">
                        <option value="www.hordes.fr">Hordes</option>
                        <option value="www.die2nite.com">Die2Nite</option>
                        <option value="www.dieverdammten.de">Die Verdammten</option>
                        <option value="www.zombinoia.com">Zombinoia</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="cell padded rw-8 ro-4 ro-sm-0 rw-sm-12">
                    <button id="begin_import_btn">{{ 'Import starten'|trans({},'soul') }}</button>
                </div>
            </div>

            <h5>{{ 'Deine importierten Seelen'|trans({},'soul') }}</h5>

        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        const tconf = $.client.config.twinoidImport.get();
        {% if need_sk %}
            if (tconf[0] > 0) document.getElementById('twin_id').value = tconf[0];
            if (tconf[1])     document.getElementById('twin_sk').value = tconf[1];
        {% endif %}
        if (tconf[2]) document.getElementById('twin_scope').querySelector('option[value="' + tconf[2] + '"]').setAttribute('selected','selected');

        {% if code is not empty %}
            if ({% if need_sk %}tconf[0] > 0 && tconf[1] && {% endif %} tconf[2]) {

                $.ajax.easySend('{{ url('soul_import_api', {'code': code}) }}', {
                    {% if need_sk %}'app': tconf[0], 'sk': tconf[1],{% endif %} 'scope': tconf[2]
                }, function() {
                    $.ajax.load(null, '{{ url('soul_import') }}', true, );
                })

            } else $.html.error('{{ 'Allgemeiner Fehler.'|trans({},'global')|e('js') }}')
        {% endif %}

        document.getElementById('begin_import_btn').addEventListener('click', function() {
            {% if need_sk %}
                const id = document.getElementById('twin_id').value;
                const sk = document.getElementById('twin_sk').value;
            {% endif %}
            const sc = document.getElementById('twin_scope').value;

            {% if need_sk %}
                $.client.config.twinoidImport.set([id,sk,sc]);
            {% else %}
                $.client.config.twinoidImport.set([0,'',sc]);
            {% endif %}

            $.ajax.easySend('{{ url('soul_import_turl_api', {'code': code}) }}', {
                {% if need_sk %}'app': id, 'sk': sk,{% endif %} 'scope': sc
            }, function(d) {
                const url = d.goto;
                if (url) {
                    $.html.addLoadStack();
                    window.location.replace(url);
                }
                else $.html.error('{{ 'Allgemeiner Fehler.'|trans({},'global')|e('js') }}');
            })

            //const url =
            //    'https://twinoid.com/oauth/auth' +
            //    '?response_type=code' +
            //    '&client_id=' + id +
            //    '&redirect_uri=' +
            //    '&scope=' + sc +
            //    '&state=user' +
            //    '&access_type=online'
            //;
            //window.location.replace(url);
        });
    </script>
{% endblock %}