{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    {{ parent() }}
    {% if app.user and not app.user.activeCitizen %}
        <li class="town-dash" x-ajax-href="{{ url('ghost_welcome') }}">{% trans from 'global' %}Spiel{% endtrans %}</li>
    {% endif %}
{% endblock %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-8">
            {% embed "ajax/soul/tabs.html.twig" %}{% endembed %}
            <div class="row">
                <div class="cell padded rw-4 rw-sm-12">
                    E-Mail
                </div>
                <div class="cell padded rw-8 rw-sm-12">
                    <input disabled value="{{ app.user.email }}" />
                </div>
            </div>
            <div class="row">
                <div class="cell padded rw-4 rw-sm-12">
                    External App ID
                </div>
                <div class="cell padded rw-4 rw-sm-12">
                    <input disabled value="{% if app.user.externalId != '' %}{{ app.user.externalId }}{% else %}not set{% endif %}" />
                </div>
                <div class="cell padded rw-4 rw-sm-12">
                    <button id="generate-external-id">{{ 'Generate new ID'|trans({}, 'global') }}</button>
                    <button id="delete-external-id">{{ 'Delete ID to disable'|trans({}, 'global') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.html.addEventListenerAll("#generate-external-id", "click", function(event){
            event.preventDefault();
            event.stopPropagation();
            $.ajax.easySend( '{{ path('soul_settings_generateid') }}', {},
                function () {
                    $.ajax.load(null, '{{ path('soul_settings') }}', true);
                } );
        });
        $.html.addEventListenerAll("#delete-external-id", "click", function(event){
            event.preventDefault();
            event.stopPropagation();
            $.ajax.easySend( '{{ path('soul_settings_deleteid') }}', {},
                function () {
                    $.ajax.load(null, '{{ path('soul_settings') }}', true);
                } );
        });
    </script>
{% endblock %}