{# @var entries \App\Entity\ShoutboxEntry[] #}
{% if entries|length == 0 %}
    <i>{{ 'Die Shoutbox ist leer...'|trans({},'soul') }}</i>
{% else %}
    {% for entry in entries %}
        <div class="shout-entry shout-entry-type-{{ entry.type }}">
            <span class="shout-part-time">{{ entry.timestamp.format('G:i') }}</span>
            <span class="shout-part-content">
                {% if entry.type == constant('App\\Entity\\ShoutboxEntry::SBEntryTypeChat') %}
                    {{ entry.text|raw }}
                {% elseif entry.type == constant('App\\Entity\\ShoutboxEntry::SBEntryTypeInvite') %}
                    {{ '%u1% hat %u2% in die Koalition eingeladen.'|trans({'%u1%': entry.user1.name, '%u2%': entry.user2.name},'soul') }}
                {% elseif entry.type == constant('App\\Entity\\ShoutboxEntry::SBEntryTypeJoin') %}
                    {{ '%u1% ist der Koalition soeben beigetreten!'|trans({'%u1%': entry.user1.name},'soul') }}
                {% elseif entry.type == constant('App\\Entity\\ShoutboxEntry::SBEntryTypeLeave') %}
                    {% if entry.user2 is null %}
                        {{ '%u1% hat die Koalition verlassen.'|trans({'%u1%': entry.user1.name},'soul') }}
                   {% else%}
                       {{ '%u1% hat %u2% aus der Koalition entfernt.'|trans({'%u1%': entry.user1.name, '%u2%': entry.user2.name},'soul') }}
                   {% endif %}
                {% elseif entry.type == constant('App\\Entity\\ShoutboxEntry::SBEntryTypeTown') %}
                    {{ '%u1% hat sich soeben in die Stadt "%town%" eingeschrieben!'|trans({'%u1%': entry.user1.name, '%town%': entry.text},'soul') }}
                {% else %}
                    ???
                {% endif %}
            </span>
        </div>
    {% endfor %}
{% endif %}
{{ include('ajax/flash.html.twig') }}