{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    {{ parent() }}
    {% if app.user and not app.user.activeCitizen %}
        <li class="town-dash" x-ajax-href="{{ url('ghost_welcome') }}">{% trans from 'global' %}Spiel{% endtrans %}</li>
    {% endif %}
{% endblock %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-9">
            {% embed "ajax/soul/tabs.html.twig" %}{% endembed %}
                <div class="row">
                    <div class="cell padded rw-4">
                        <button class='inline' x-ajax-href="{{path('soul_rps')}}"><img src="{{asset('build/images/soul/small_back.gif')}}" alt ="" />Retour liste</button>
                    </div>
                </div>
                <div class="view-rp">
                    <h5>{{rp.text.title}}</h5>
                    <div class="{{rp.text.background}}">
                        <div class="rp-content">
                            {{rp.text.content|raw}}
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}