{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row">
        <div class="cell padded header rw-8 ro-2 rw-lg-12 ro-lg-0">
            <h4>{% trans from 'welcome' %}Willkommen bei MyHordes{% endtrans %}</h4>
            <p class="justify">
                {% trans with {'%motiontwin%':'<b>MotionTwin</b>'} from 'welcome' %}
                    MyHordes ist eine von der Community entwickelte offene Implementierung des Browser-Spiels
                    "Die Verdammten" von %motiontwin%.
                {% endtrans %}
                <br />
                {% trans from 'welcome' %}
                    Ziel des Projektes ist es, einer Version von "Die Verdammten" zu erschaffen, die nicht nur nach der
                    Flash-Abschaltung im Jahr 2020 funktionsfähig ist, sondern auch weiterentwickelt und mit neuen
                    Inhalten versorgt werden kann.
                {% endtrans %}
            </p>

            <div class="row">
                <div class="cell rw-12 right">
                    {% if is_granted('ROLE_USER') %}
                        <button x-ajax-href="{{ path('initial_landing') }}" class="inline hide-sm">{% trans from 'welcome' %}Zum Spiel{% endtrans %}</button>
                        <button x-ajax-href="{{ path('initial_landing') }}" class="hide-desktop hide-lg hide-md">{% trans from 'welcome' %}Zum Spiel{% endtrans %}</button>
                    {% elseif is_granted('ROLE_REGISTERED') %}
                        <button x-ajax-href="{{ path('public_validate') }}" class="inline hide-sm">{% trans from 'welcome' %}Account validieren{% endtrans %}</button>
                        <button x-ajax-href="{{ path('public_validate') }}" class="hide-desktop hide-lg hide-md">{% trans from 'welcome' %}Account validieren{% endtrans %}</button>
                    {% else %}
                        <button x-ajax-href="{{ path('public_login') }}" class="inline hide-sm">{% trans from 'welcome' %}Zum Login{% endtrans %}</button>
                        <button x-ajax-href="{{ path('public_login') }}" class="hide-desktop hide-lg hide-md">{% trans from 'welcome' %}Zum Login{% endtrans %}</button>
                    {% endif %}
                </div>
            </div>
            <style>
            span.critical {
    text-transform: uppercase;
    color: #f86;
    font-weight: bold;
}

.row.example {
    width: 45%!important;
    float: left;
    margin-right: 3%;
    text-align:left!important;
    border:1px solid #444;
    margin-bottom:2em;
    padding: 10px;
    height: 300px;
    overflow: hidden;
    background-color: #5c2b20;
    outline: 1px solid black;
    border: 1px solid #f0d79e;
}

</style>

            <div class="row example" style="font-family:Montserrat;">
                <div class="cell rw-12">
                    <p>This is a simple text demonstrating the font "Montserrat" from <strong>Google fonts</strong>. How do you like the style of this paragraph. Is it easy to read or not?</p>
                    <ul>
                    <li>Normal text with some <strong>bold</strong> and <em>italic</em> words.</li>
                    <li><span class="critical">This could be a warning!</span></li>
                    <li class="small">Smaller text is shown here.</li>
                    </ul>
                </div>
            </div>
            <div class="row example" style="font-family:Nunito;">
                <div class="cell rw-12">
                    <p>This is a simple text demonstrating the font "Nunito" from <strong>Google fonts</strong>. How do you like the style of this paragraph. Is it easy to read or not?</p>
                    <ul>
                    <li>Normal text with some <strong>bold</strong> and <em>italic</em> words.</li>
                    <li><span class="critical">This could be a warning!</span></li>
                    <li class="small">Smaller text is shown here.</li>
                    </ul>
                </div>
            </div>
            <div class="row example" style="font-family:Oswald;">
                <div class="cell rw-12">
                    <p>This is a simple text demonstrating the font "Oswald" from <strong>Google fonts</strong>. How do you like the style of this paragraph. Is it easy to read or not?</p>
                    <ul>
                    <li>Normal text with some <strong>bold</strong> and <em>italic</em> words.</li>
                    <li><span class="critical">This could be a warning!</span></li>
                    <li class="small">Smaller text is shown here.</li>
                    </ul>
                </div>
            </div>
            <div class="row example" style="font-family:'Century Gothic', Arial, 'Trebuchet MS', Verdana, 'Open Sans',sans-serif;">
                <div class="cell rw-12">
                    <p>This is a simple text demonstrating the font "Century Gothic" from <strong>Hordes</strong>. How do you like the style of this paragraph. Is it easy to read or not?</p>
                    <ul>
                    <li>Normal text with some <strong>bold</strong> and <em>italic</em> words.</li>
                    <li><span class="critical">This could be a warning!</span></li>
                    <li class="small">Smaller text is shown here.</li>
                    </ul>
                </div>
            </div>
            <div class="row example" style="font-family:'Josefin Sans';">
                <div class="cell rw-12">
                    <p>This is a simple text demonstrating the font "Josefin Sans" from <strong>Google fonts</strong>. How do you like the style of this paragraph. Is it easy to read or not?</p>
                    <ul>
                    <li>Normal text with some <strong>bold</strong> and <em>italic</em> words.</li>
                    <li><span class="critical">This could be a warning!</span></li>
                    <li class="small">Smaller text is shown here.</li>
                    </ul>
                </div>
            </div>
            <div class="row example" style="font-family:Questrial;">
                <div class="cell rw-12">
                    <p>This is a simple text demonstrating the font "Questrial" from <strong>Google fonts</strong>. How do you like the style of this paragraph. Is it easy to read or not?</p>
                    <ul>
                    <li>Normal text with some <strong>bold</strong> and <em>italic</em> words.</li>
                    <li><span class="critical">This could be a warning!</span></li>
                    <li class="small">Smaller text is shown here.</li>
                    </ul>
                </div>
            </div>

            <p style="clear: both;">
                {% trans with {'%motiontwin%':'<b>MotionTwin</b>'} from 'welcome' %}
                    Alle Grafiken stammen, wenn nicht ausdrücklich anders angegeben, ebenfalls aus "Die Verdammten" und sind
                    damit Eigentum von %motiontwin%.
                {% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}