{% extends "ajax/ajax.html.twig" %}
{% block text_menu_content %}
{% endblock %}
{% block ajax %}
    <div class="daily-attack row">
        <div class="content">
            <div class="animation">
                <video autoplay="true" loop="true" muted="true">
                    <source src="{{ asset('build/images/attack.webm')}}" type="video/webm">
                </video>
            </div>
            <p class="justify">
                {% trans from 'ghost' %}
                    <p>
                    Deine Stadt wird gerade von den Zombies <strong>angegriffen</strong>! Du hörst wie sie <strong>grunzend</strong> gegen eure Hütten schlagen. Dazwischen immer wieder <strong>Hilferufe</strong> und Schreie... Sie scheinen überall zu sein...
                    </p>
                    <p>
                    Was tust du, solange der Angriff tobt?               
                    </p>
                {% endtrans %}
            </p>
            <button x-ajax-href="{{ path('initial_landing') }}">{{ 'Seite neu laden'|trans({},'global') }}</button>
        </div>

        <div class="infos">
            <h2>{{'Was hat das zu bedeuten?'|trans({}, 'ghost')}}</h2>
            <img src="{{ asset('build/images/server.png')}}" alt="" class="art">
            <p>{{'Die Verdammten wird gerade von den Zombies überfallen! Es ist der tägliche Angriff!'|trans({}, 'ghost')}}</p>
            <p>{{'Registrierung sowie Log-in sind zur Zeit nicht möglich... Die Seite müsste gegen 00.30 wieder erreichbar sein.'|trans({}, 'ghost')}}</p>
            <p><em>{{'Und ja, es wird Tote geben...'|trans({}, 'ghost')}}</em></p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        document.getElementById("gma").style.display = "none";
    </script>
{% endblock %}