{% extends "ajax/ajax.html.twig" %}
{% block title %}{{ 'Fertige St채dte'|trans({}, 'admin') }}{% endblock %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block ajax %}
    {% embed "ajax/admin/towns/header.html.twig" with {'search_controller': 'admin_old_towns_fuzzyfind'} %}{% endembed %}
    <div class="row">
        <div class="cell padded rw-12">
            <ul class="tabs plain">
                <li class="tab {% if admin_tab =='towns' %}selected{% endif %}">
                    <div class="tab-link" x-ajax-href="{{ path('admin_town_list') }}"><span>{{ 'Aktuelle St채dte'|trans({}, 'admin') }}</span></div>
                </li>
                <li class="tab {% if admin_tab =='old_towns' %}selected{% endif %}">
                    <div class="tab-link" x-ajax-href="{{ path('admin_old_town_list') }}"><span>{{ 'Fertige St채dte'|trans({}, 'admin') }}</span></div>
                </li>
            </ul>
            <h5>{{ 'Liste aller St채dte'|trans({},'admin') }}</h5>

            <div class="row-flex">
                <div id="pagenav-bottom" class="cell rw-12 padded center">
                    {% if page > 1 %}
                        <div class="forum-button" x-ajax-href="{{ path('admin_old_town_list', {page: 0}) }}"><img alt="" src="{{ asset('build/images/icons/small_prev.gif') }}" /></div>
                        <div class="forum-button" x-ajax-href="{{ path('admin_old_town_list', {page: page - 1}) }}"><img alt="" src="{{ asset('build/images/icons/small_moveleft.gif') }}" /></div>
                    {% else %}
                        <div class="forum-button-disabled"><img alt="" src="{{ asset('build/images/icons/small_prev.gif') }}" /></div>
                        <div class="forum-button-disabled"><img alt="" src="{{ asset('build/images/icons/small_moveleft.gif') }}" /></div>
                    {% endif %}

                    <div class="forum-button" x-forum-action="post-select-page">
                        {{ 'Seite {page}/{pages}'|trans({'{page}': '<span class="current_page_marker">&nbsp;' ~ page ~ '</span>', '{pages}': pages},'global')|raw }}
                        <div class="tooltip">
                            {{ 'Zum Wechsein der Seite hier klicken'|trans({}, 'global') }}
                        </div>
                    </div>

                    {% if page < pages %}
                        <div class="forum-button" x-ajax-href="{{ path('admin_old_town_list', {page: page + 1}) }}"><img alt="" src="{{ asset('build/images/icons/small_move.gif') }}" /></div>
                        <div class="forum-button" x-ajax-href="{{ path('admin_old_town_list', {page: pages}) }}"><img alt="" src="{{ asset('build/images/icons/small_next.gif') }}" /></div>
                    {% else %}
                        <div class="forum-button-disabled"><img alt="" src="{{ asset('build/images/icons/small_move.gif') }}" /></div>
                        <div class="forum-button-disabled"><img alt="" src="{{ asset('build/images/icons/small_next.gif') }}" /></div>
                    {% endif %}

                    <div id="hidden-to-page-btn" class="forum-button" x-ajax-href="{{ path('admin_old_town_list', {page: 0}) }}" style="display:none;"></div>
                </div>
            </div>

            <div class="row-table">
                <div class="row header">
                    <div class="cell padded rw-1 rw-sm-0">{{ 'ID'|trans({},'admin') }}</div>
                    <div class="cell padded rw-5 rw-sm-12">{{ 'Stadtname'|trans({},'admin') }}</div>
                    <div class="cell padded rw-1 rw-sm-0">{{ 'Tag'|trans({},'admin') }}</div>
                    <div class="cell padded rw-1 rw-sm-0">{{ 'Pop.'|trans({},'admin') }}</div>
                    <div class="cell padded rw-1 rw-sm-0">{{ 'Importiert'|trans({},'admin') }}</div>
                    <div class="cell padded rw-3 rw-sm-0 right">{{ 'Aktionen'|trans({},'admin') }}</div>
                </div>
                {# @var towns \App\Entity\TownRankingEntry[] #}
                {% for town in towns %}
                    <div class="row-flex wrap">
                        <div class="cell padded rw-1 rw-sm-2 shrink-0">
                            {% if town.imported %}
                                {{ town.baseID }}
                            {% else %}
                                {{ town.id }}
                            {% endif %}
                        </div>
                        <div class="cell padded rw-5 rw-sm-8">
                            {% if town.language is not empty %}
                                <span class="language"><img src="{{ asset("build/images/lang/" ~ town.language ~".png") }}" alt="{{ town.language }}" style="max-height:16px;" /></span>
                            {% endif %}
                            <img title="{{ town.type.label|trans({},'game') }}" src="{{ asset("build/images/towntypes/" ~ town.type.name ~ ".gif") }}" alt="" /> {{ town.name }}<br />
                        </div>
                        <div class="cell padded rw-1 rw-sm-2 shrink-0">{{ town.days }}</div>
                        <div class="cell padded rw-1 rw-sm-4">
                            {{ town.citizens|length }} / {{ town.population }}
                        </div>
                        <div class="cell padded rw-1 rw-sm-4">{% if town.imported %}{{ 'Ja'|trans({}, 'admin') }}{% else %}{{ 'Nein'|trans({}, 'admin') }}{% endif %}</div>
                        <div class="cell padded rw-3 rw-sm-4 right">
                            <button x-ajax-href="{{ path('admin_old_town_explorer', {id: town.id}) }}" class="small inline icon-only"><img src="{{ asset("build/images/heroskill/small_view.gif") }}" alt="" /></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% embed "ajax/admin/towns/footer.html.twig" with {'search_controller': 'admin_old_towns_fuzzyfind'} %}{% endembed %}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.html.addEventListenerAll( '[x-forum-action="post-select-page"]', 'click', function(e,elem) {
            e.preventDefault();
            e.stopPropagation();
            let pagMarker = elem.querySelector(".current_page_marker");
            pagMarker.innerHTML = '<input type="text" name="page_to_go" class="page_to_go inline" style="width: 24px;margin: 0 5px" />';
            elem.querySelector("input.page_to_go").focus();
            $.html.addEventListenerAll('[x-forum-action="post-select-page"] input.page_to_go', 'click', function(e, elem){
                e.preventDefault();
                e.stopPropagation();
            });
            $.html.addEventListenerAll('[x-forum-action="post-select-page"] input.page_to_go', 'change', function(e, elem){
                let to_page = parseInt( elem.value );
                if (isNaN(to_page)) {
                    return;
                }
                else if (to_page >= {{ pages }}) {
                    to_page = {{ pages }};
                }
                else if (to_page <= 1) {
                    to_page = 1;
                }
                to_page = parseInt(to_page);
                const button = document.querySelector("div#hidden-to-page-btn");
                let base_url = button.getAttribute("x-ajax-href");
                let splitted_url = base_url.split('/');
                splitted_url[splitted_url.length-1] = to_page;
                let new_url = splitted_url.join("/");
                button.setAttribute("x-ajax-href", new_url);
                button.click();
            });
        });
    </script>
{% endblock %}