{% use "ajax/game/partials/header_inventory.html.twig" with html as html_header %}
{% use "ajax/game/town/partials/item-stats.html.twig" %}
{% use "ajax/game/town/partials/inventory.html.twig" %}

<div x-render-target="#dashboard-overview">
    {{ block('html_dashboard') }}
</div>

<div x-render-target="#header-rucksack-items" data-render-target-classes-toggle="expanded,{{ rucksack_size > 10 ? 1 : 0 }}">
    {{ block('html_header') }}
</div>

<div x-render-target="#inventory_partial_html">
    {{ block('html') }}
</div>

<script>
    {{ block('includes') }}
    {{ block('js') }}
    {{ block('dashboard_js') }}
</script>