{% extends "ajax/game/town/home/frame.html.twig" %}

{% block home_content %}
    <div class="row">
        {{ 'Du hast {num} anonyme Anzeige(n) erhalten.'|trans({'{num}': '<b>' ~ complaints|length ~ '</b>'}, 'game')|raw }}
        {% if not citizen.banished %}
            {{'Sollte diese Zahl auf 8 ansteigen, wirst du verbannt!'|trans({}, 'game')}}
        {% endif %}
        <ul class="overview-list">
            {% for complaint in complaints %}
                {% if not complaint.linkedReason is null %}
                    <li>{{complaint.linkedReason.text|trans({}, 'game')}}</li>
                {% else %}
                    <li>{{complaint.reason}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {{ help_lnk('Gerechtigkeit in MyHordes'|trans({}, 'game'), 'help', {'name' :'crimes_and_punishment'}) }}
    </div>
{% endblock %}