{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row">
        <div class="cell rw-12">
            <div class="row">
                <div class="cell padded rw-6 rw-sm-12">
                    <span>{{ "Titel" |trans({}, 'admin') }}</span>
                </div>
                <div class="cell padded rw-2 rw-sm-12">
                    <span>{{ "Version" |trans({}, 'admin') }}</span>
                </div>
                <div class="cell padded rw-2 rw-sm-12">
                    <span>{{ "Sprache" |trans({}, 'admin') }}</span>
                </div>
            </div>
            {% for new in news %}
            <div class="row">
                <div class="cell padded rw-6 rw-sm-12">
                    <a href="#">{{ new.title }}</a>
                </div>
                <div class="cell padded rw-2 rw-sm-12">
                    <span>{{ new.version }}</span>
                </div>
                <div class="cell padded rw-2 rw-sm-12">
                    <span>{{ new.lang }}</span>
                </div>
                <div class="cell padded rw-1 rw-sm-12">
                    <button>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="cell padded rw-2">
                    <button x-ajax-href="{{ url('admin_changelogs_add_new') }}" x-ajax-target="#content" class="button">
                        {{'Neue Update'|trans({}, 'admin')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>

    </script>
{% endblock %}