{% if list|length > 0 or recipes.recipes|length > 0  %}
    <ul class="actions">
        {% for entry in list %}
            <li class="action" {% if entry.crossed %}disabled{% else %}x-action-id="{{ entry.action.id }}" x-provoking-id="{{ entry.item.id }}"{% endif %}>
                <img src="{{ asset('build/images/item/item_' ~ entry.item.prototype.icon ~ '.gif') }}" alt="{{ entry.item.prototype.label|trans({},'items') }}">
                <span>{{ entry.action.label|trans({},'game') }}: <b>{{ entry.item.prototype.label|trans({},'items') }}</b></span>
            </li>
        {% endfor %}
        {% for recipe in recipes.recipes %}
            <li class="action" x-recipe-id="{{ recipe.id }}">
                {# @var recipe \App\Entity\Recipe #}
                {% if recipe.result.entries.count == 1 %}
                    <img src="{{ asset('build/images/item/item_' ~ recipe.result.entries[0].prototype.icon ~ '.gif') }}" alt="{{ recipe.result.entries[0].prototype.label|trans({},'items') }}">
                    <span>{{ 'Herstellen'|trans({},'game') }}: <b>{{ recipe.result.entries[0].prototype.label|trans({},'items') }}</b></span>
                    {% if recipe.source %}
                        <span>
                            {{ 'aus'|trans({},'game') }}:
                            {% for entry in recipe.source.entries %}
                                {# @var entry \App\Entity\ItemGroupEntry #}
                                {% for n in 1..entry.chance %}
                                    <img class="{% if n > recipes.source_items[entry.prototype.id] %}unavailable{% endif %}" src="{{ asset('build/images/item/item_' ~ entry.prototype.icon ~ '.gif') }}" alt="{{ entry.prototype.label|trans({},'items') }}">
                                {% endfor %}
                            {% endfor %}
                        </span>
                    {% endif %}
                {% else %}
                    {% if recipe.source %}
                        <span>
                            {{ 'Kombinieren'|trans({},'game') }}:
                            {% for entry in recipe.source.entries %}
                                {# @var entry \App\Entity\ItemGroupEntry #}
                                {% for n in 1..entry.chance %}
                                    <img class="{% if n > recipes.source_items[entry.prototype.id] %}unavailable{% endif %}" src="{{ asset('build/images/item/item_' ~ entry.prototype.icon ~ '.gif') }}" alt="{{ entry.prototype.label|trans({},'items') }}">
                                {% endfor %}
                            {% endfor %}
                        </span>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
