{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    <li class="town-news">{% trans from 'game' %}Zeitung{% endtrans %}</li>
{% endblock %}
{% block menu_bar %}
    <ul class="status">
        {% for stat in status %}
            {# @var stat \App\Entity\CitizenStatus #}
            {% if not stat.hidden %}
                <li class="status"><img src="{{ asset('build/images/status/status_' ~ stat.name ~ '.gif') }}" alt="{{ stat.label|trans({},'status') }}"></li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="rucksack">
        {% for item in rucksack.items %}
            {% embed "ajax/game/item.html.twig" with {'item': item, 'no_id': true} %}{% endembed %}
        {% endfor %}
        {% if rucksack.items|length < rucksack_size %}
            {% for i in range(0, rucksack_size - rucksack.items|length - 1) %}
                <li class="free"></li>
            {% endfor %}
        {% endif %}
    </ul>
    <ul class="ap">
        <li>{{ ap }}</li>
        <li>/</li>
        <li>{{ max_ap }}</li>
    </ul>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}