{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    <li class="town-news" x-ajax-href="{{ url('game_newspaper') }}">{% trans from 'game' %}Zeitung{% endtrans %}</li>
{% endblock %}
{% block menu_bar %}
    {% if clock is defined %}
        <ul class="clock">
            <li>{{ clock.desc }}</li>
            <li>{% if clock.towntype == 'panda' %}<span class="hardcore">{{'Pandämonium'|trans({}, 'game')}}</span> {% endif %}{{ 'Tag %day%'|trans({'%day%': clock.day}, 'game') }}</li>
            <li>{{ clock.timestamp.format('G:i') }}</li>
            <li x-countdown="{{ clock.attack }}" x-countdown-no-seconds="1" x-countdown-force-hours="1"></li>
        </ul>
    {% endif %}
    
    {% if rucksack is defined %}
        <ul class="rucksack">
            {% for item in rucksack.items %}
                {% embed "ajax/game/item.html.twig" with {'item': item, 'no_id': true} %}{% endembed %}
            {% endfor %}
            {% if rucksack.items|length < rucksack_size %}
                {% for i in range(0, rucksack_size - rucksack.items|length - 1) %}
                    <li class="free"></li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
    {% if status is defined %}
        <ul class="status">
            {% for stat in status %}
                {# @var stat \App\Entity\CitizenStatus #}
                {% if not stat.hidden %}
                    <li class="status"><img src="{{ asset('build/images/status/status_' ~ stat.name ~ '.gif') }}" alt="{{ stat.label|trans({},'status') }}"></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if ap is defined and max_ap is defined %}
        <div class="ulcont">
            <ul class="ap">
                <li><img src="{{ asset("build/images/ap_small.gif") }}" alt="" /> {{ ap }}<em>/{{ max_ap }}</em></li>
            </ul>
            <div class="tooltip">
                <b>{{ 'Aktionspunkte'|trans({},'game') }}</b><br />
                {% trans from 'game' %}
                    Für viele Aktionen, wie beispielsweise die Erkundung der Aussenwelt oder der Arbeit auf einer Baustelle,
                    benötigst du Aktionspunkte. Deine Aktionspunkte werden jede Nacht nach dem Angriff aufgefüllt. Außerdem
                    kannst du sie durch den Einsatz bestimmter Gegenstände sowie einmal pro Tag durch Essen und Trinken neu
                    auffüllen.
                {% endtrans %}
            </div>
        </div>
    {% endif %}
    {% if bp is defined and max_bp is defined and max_bp > 0 %}
        <div class="ulcont">
            <ul class="bp">
                <li>{{ bp }}</li>
                <li>/</li>
                <li>{{ max_bp }}</li>
            </ul>
            <div class="tooltip">
                <b>{{ 'Baupunkte'|trans({},'game') }}</b><br />
                {% trans from 'game' %}
                    Baupunkte können in der Werkstatt und auf Baustellen verwendet werden, wo sie wie Aktionspunkte
                    zählen. Wenn möglich werden immer zuerst Baupunkte verbraucht, bevor Aktionspunkte eingesetzt
                    werden. Bedenke, dass Baupunkte nicht eingesetzt werden können wenn du erschöpft bist!
                {% endtrans %}
            </div>
        </div>
    {% endif %}
    {% if banished is defined and banished %}
        <ul class="civil">
            <li class="status"><img src="{{ asset('build/images/banished.gif') }}" alt="{{ 'Verbannt'|trans({},'game') }}">
                <div class="tooltip">
                    <b>{{ 'Verbannt'|trans({},'game') }}</b><br />
                    {% trans from 'game' %}
                        Deine Stadt hat entschieden, dich zu verbannen. Einige Aktionen stehen dir nicht länger zur
                        Verfügung.
                    {% endtrans %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}