<div class="map_area {% if default_show_zone %}zone-viewer-mode{% endif %}">
    <div class="map">
        {% set cellnum = 1+map_x1-map_x0 %}
        {% set size = 100.0/cellnum %}

        <div class="scroll-plane" x-default-size="{{ cellnum*20 }}" x-current-scroll-level="{{ default_zoom }}" style="min-width: {{ cellnum*20 }}px">
            <div class="svg">
                <svg viewBox="{{ map_x0 }} {{ map_y0 }} {{ 1+(map_x1-map_x0) }} {{ 1+(map_y1-map_y0) }}" xmlns="http://www.w3.org/2000/svg">
                    <g x-local-id="map-marker-layer"></g>
                    <g x-local-id="map-expedition-layer">
                        <g x-local-id="map-expedition-context"></g>
                        <g x-local-id="map-expedition-focus"></g>
                        <g x-local-id="map-expedition-live-editor"></g>
                    </g>
                </svg>
            </div>
            {% for y in map_y1..map_y0 %}
                {% for x in map_x0..map_x1 %}
                    {% if zones[x] and zones[x][y] %}

                        {% set zone_attribs = [] %}
                        {% if x == 0 and y == 0 %}        {% set zone_attribs = zone_attribs|merge(['town']) %}  {% endif %}
                        {% if x == pos_x and y == pos_y %}{% set zone_attribs = zone_attribs|merge(['active']) %}{% endif %}
                        {% if zones[x][y].discoveryStatus == constant('App\\Entity\\Zone::DiscoveryStateNone') %}
                            {% set zone_attribs = zone_attribs|merge(['unknown']) %}
                        {% else %}
                            {% if zones[x][y].discoveryStatus == constant('App\\Entity\\Zone::DiscoveryStateNone') %}
                                {% set zone_attribs = zone_attribs|merge(['past']) %}
                            {% endif %}

                            {% if zones[x][y].prototype %}
                                {% set zone_attribs = zone_attribs|merge(['ruin']) %}
                                {% if zones[x][y].buryCount > 0 %}{% set zone_attribs = zone_attribs|merge(['buried']) %}{% endif %}
                            {% endif %}

                            {% if zones[x][y].zombieStatus >= constant('App\\Entity\\Zone::ZombieStateEstimate') %}
                                {% if zones[x][y].zombies == 0 %}    {% set zone_attribs = zone_attribs|merge(['danger-0']) %}
                                {% elseif zones[x][y].zombies <= 2 %}{% set zone_attribs = zone_attribs|merge(['danger-1']) %}
                                {% elseif zones[x][y].zombies <= 5 %}{% set zone_attribs = zone_attribs|merge(['danger-2']) %}
                                {% else %}                           {% set zone_attribs = zone_attribs|merge(['danger-3']) %}
                                {% endif %}
                            {% endif %}

                        {% endif %}
                        <div class="zone {{ zone_attribs|join(' ') }}" style="width: {{ size }}%; padding-top: {{ size }}%" x-zone-x="{{ x }}" x-zone-y="{{ y }}">
                                <div class="icon"></div>
                                <div class="overlay"></div>
                                {% if zones[x][y].zombieStatus == constant('App\\Entity\\Zone::ZombieStateExact') %}
                                    <div class="count">{% if zones[x][y].zombies > 0 %}{{ zones[x][y].zombies }}{% endif %}</div>
                                {% endif %}
                                {% if zones[x][y].citizens|length != 0 %}
                                    <div class="citizen_marker"></div>
                                {% endif %}
                                {% if x != pos_x or y != pos_y %}
                                    <div class="tooltip tooltip-map">
                                        {% if zones[x][y].discoveryStatus > constant('App\\Entity\\Zone::DiscoveryStateNone') and zones[x][y].prototype %}
                                            <div class="row"><div class="cell rw-12 bold">
                                                {% if zones[x][y].buryCount > 0 %}
                                                    {{ 'Verschüttete Ruine'|trans({},'game') }}
                                                {% else %}
                                                    {{ zones[x][y].prototype.label|trans({}, 'game') }}
                                                {% endif %}
                                            </div></div>
                                        {% endif %}
                                        {% if x == 0 and y == 0 %}
                                            <div class="row"><div class="cell rw-12 bold">{{ zones[x][y].town.name }}</div></div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="cell rw-6 left">{{ 'Zone'|trans({},'game') }}</div>
                                            <div class="cell rw-6 right">{{ x }} / {{ y }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="cell rw-6 left">{{ 'Entfernung'|trans({},'game') }}</div>
                                            <div class="cell rw-6 right"><div class="ap">{{ (x - pos_x)|abs + (y - pos_y)|abs }}</div></div>
                                        </div>
                                        {% if zones[x][y].citizens|length != 0 %}
                                            {% for resident in zones[x][y].citizens %}
                                                <div class="row">
                                                    <div class="cell ro-6 rw-6 right">{{ resident.user.username }}</div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endif %}

                        </div>
                    {% else %}
                        <div class="void" style="width: {{ size }}%; padding-top: {{ size }}%"></div>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>

        <div class="routes-plane hidden">
            <div>
                {# routes \App\Entity\ExpeditionRoute[] #}
                {% for route in routes %}
                    <div class="row" x-route-id="{{ route.id }}">
                        <div class="padded cell rw-12">
                            {{ route.label }} <div class="float-right"><div class="ap">{{ route.length }}</div></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if allow_zone_view %}
            <div class="zone-plane">
                <div class="zone-sub-container">
                    {% for plane_y in 2..-2 %}
                        {% for plane_x in -2..2 %}
                            <div class="zone-subplane{% if plane_x == 0 and plane_y == 0 %} center{% endif %}">
                                {% if map_x0 <= pos_x + plane_x and map_x1 >= pos_x + plane_x and map_y0 <= pos_y + plane_y and map_y1 >= pos_y + plane_y %}

                                    {# @var current_surrounding \App\Entity\Zone #}
                                    {% set current_surrounding = zones[pos_x + plane_x][pos_y + plane_y] %}

                                    {% if current_surrounding.discoveryStatus != constant('App\\Entity\\Zone::DiscoveryStateNone') and current_surrounding.prototype %}
                                        <div class="ruin" style="background-image: url({{ asset('build/images/ruin/' ~ current_surrounding.prototype.icon ~ '.gif') }})"></div>
                                    {% endif %}

                                    {% if plane_x == 0 and plane_y == 0 %}
                                        {% if zone_players > 0 %}
                                            {% for n in 1..zone_players %}
                                                <div class="actor citizen" style="left: {{ random(45,55) }}%; top: {{ random(45,55) }}%"></div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if zone_zombies > 0 %}
                                            {% for n in 1..zone_zombies %}
                                                <div class="actor zombie" style="left: {{ random([random(25,45),random(55,75)]) }}%; top: {{ random([random(25,45),random(55,75)]) }}%"></div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="zone-sub-container censor-master">
                    {% for plane_y in -2..2 %}
                        {% for plane_x in -2..2 %}
                            <div class="zone-subplane{% if plane_x == 0 and plane_y == 0 %} center{% endif %}" x-preview-for="{{ pos_x + plane_x }},{{ pos_y + plane_y }}">
                                {% if map_x0 <= pos_x + plane_x and map_x1 >= pos_x + plane_x and map_y0 <= pos_y + plane_y and map_y1 >= pos_y + plane_y %}
                                    {# @var current_surrounding \App\Entity\Zone #}
                                    {% set current_surrounding = zones[pos_x + plane_x][pos_y + plane_y] %}

                                    {% if current_surrounding.discoveryStatus == constant('App\\Entity\\Zone::DiscoveryStateNone') %}
                                        <div class="censor"></div>
                                    {% endif %}
                                {% else %}
                                    <div class="censor"></div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="zone-plane-controls">
                {% if zone.x < map_x1 %}<div class="marker-direction"></div>{% endif %}
                {% if move %}
                    {% if scout_sense  %}
                        {% if zone.x < map_x1 %}<div class="scout-sense scout-sense-east">
                            {% set sense = max(0,zones[zone.x+1][zone.y].zombies + zones[zone.x+1][zone.y].scoutEstimationOffset) %}
                            <svg viewBox="0 0 14 39" xmlns="http://www.w3.org/2000/svg">
                                <text x="7" y="24.5" text-anchor="middle" style="font: bold 10px sans-serif; fill: #a0be40;">{{ sense }}</text>
                            </svg>
                        </div>{% endif %}
                        {% if zone.x > map_x0 %}<div class="scout-sense scout-sense-west">
                            {% set sense = max(0,zones[zone.x-1][zone.y].zombies + zones[zone.x-1][zone.y].scoutEstimationOffset) %}
                            <svg viewBox="0 0 14 39" xmlns="http://www.w3.org/2000/svg">
                                <text x="7" y="24.5" text-anchor="middle"  style="font: bold 10px sans-serif; fill: #a0be40;">{{ sense }}</text>
                            </svg>
                        </div>{% endif %}
                        {% if zone.y > map_y0 %}<div class="scout-sense scout-sense-south">
                            {% set sense = max(0,zones[zone.x][zone.y-1].zombies + zones[zone.x][zone.y-1].scoutEstimationOffset) %}
                            <svg viewBox="0 0 39 14" xmlns="http://www.w3.org/2000/svg">
                                <text x="19.5" y="12" text-anchor="middle"  style="font: bold 10px sans-serif; fill: #a0be40;">{{ sense }}</text>
                            </svg>
                        </div>{% endif %}
                        {% if zone.y < map_y1 %}<div class="scout-sense scout-sense-north">
                            {% set sense = max(0,zones[zone.x][zone.y+1].zombies + zones[zone.x][zone.y+1].scoutEstimationOffset) %}
                            <svg viewBox="0 0 39 14" xmlns="http://www.w3.org/2000/svg">
                                <text x="19.5" y="12" text-anchor="middle"  style="font: bold 10px sans-serif; fill: #a0be40;">{{ sense }}</text>
                            </svg>
                        </div>{% endif %}
                    {% endif %}
                    {% if zone.x < map_x1 %}<div x-direction-x="1"  x-direction-y="0"  x-target-x="{{ zone.x + 1 }}" x-target-y="{{ zone.y }}" class="action-move action-move-east"></div>{% endif %}
                    {% if zone.x > map_x0 %}<div x-direction-x="-1" x-direction-y="0"  x-target-x="{{ zone.x - 1 }}" x-target-y="{{ zone.y }}" class="action-move action-move-west"></div>{% endif %}
                    {% if zone.y > map_y0 %}<div x-direction-x="0"  x-direction-y="-1" x-target-x="{{ zone.x }}" x-target-y="{{ zone.y - 1 }}" class="action-move action-move-south"></div>{% endif %}
                    {% if zone.y < map_y1 %}<div x-direction-x="0"  x-direction-y="1"  x-target-x="{{ zone.x }}" x-target-y="{{ zone.y + 1 }}" class="action-move action-move-north"></div>{% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="controls">
        <div class="tilemap_controls">
            <div class="row">
                <div class="cell rw-6">
                    <button x-control="plus"   class="small inline"><i class="fa fa-plus"></i></button>
                    <button x-control="center" {% if default_zoom == 0 %}disabled{% endif %} class="small inline"><i class="fa fa-map-marker-alt"></i></button>
                    <button x-control="minus"  {% if default_zoom == 0 %}disabled{% endif %} class="small inline"><i class="fa fa-minus"></i></button>
                </div>
                <div class="cell rw-6 right">
                    {% if routes|length > 0 %}
                        <button x-control="routes" class="small inline">{% trans from 'game' %}Routen{% endtrans %}</button>
                    {% endif %}
                    {% if allow_zone_view %}
                        <button x-control="zone" class="small inline">{% trans from 'game' %}Zone{% endtrans %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if allow_zone_view %}
            <div class="zonemap_controls">
                <div class="row">
                    <div class="cell rw-4">&nbsp;</div>
                    <div class="cell rw-4 center">
                        <span class="small">
                        {% if zone.x == 0 and zone.y == 0 %}
                            {% trans from 'game' %}Stadttor{% endtrans %}
                        {% else %}
                            {{ zone.x }} / {{ zone.y }}
                        {% endif %}
                        </span>
                    </div>
                    <div class="cell rw-4 right">
                        <button x-control="map" class="small inline">{% trans from 'game' %}Karte{% endtrans %}</button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
