{% extends "ajax/game/game.html.twig" %}
{% block ajax %}
    {{ parent() }}
    <div class="row">
        <div class="padded-small cell rw-4 rw-lg-6 rw-md-12">
            {% embed "ajax/game/map.html.twig" with {
                'default_zoom': 1,
                'default_show_zone': true,
                'allow_zone_view': true,
                'move': allow_movement
            } %}{% endembed %}
            <div class="zone-info">
                <div class="row zone-cp">
                    <div class="padded cell rw-6 left"><img src="{{ asset('build/images/small_human.gif') }}" alt="CP" /> <span>{{ zone_cp }} {% trans from 'game' %}Punkt(e){% endtrans %}</span></div>
                    <div class="padded cell rw-6 right"><span>{{ zone_zombies }} {% trans from 'game' %}Punkt(e){% endtrans %}</span> <img src="{{ asset('build/images/small_zombie.gif') }}" alt="ZP" /></div>
                </div>
            </div>
        </div>
        <div class="padded cell rw-8 rw-lg-6 rw-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/map.js.twig" %}{% endembed %}

        let map = document.querySelector('.map_area');
        map.addEventListener('zone-click', function(e) {
            mark_zone(map,e.detail.x,e.detail.y,true);
        });
    </script>
{% endblock %}