{% extends "ajax/game/beyond/beyond.html.twig" %}
{% block content %}
    {% if zone_blocked %}
        <div>
            <div class="cell rw-12">
                <div class="zone-blocked-warning">
                    <b>
                        {% if zone_escape > 0 %}
                            {% trans from 'game' %}Temporäre Zonenkontrolle{% endtrans %}
                        {% else %}
                            {% trans with { '%z%': zone_zombies } from 'game' %}%z% Zombies kontrollieren diese Zone!{% endtrans %}
                        {% endif %}
                    </b><br />
                    <span>
                        {% if zone_escape > 0 %}
                            {% trans from 'game' %}
                                Das ist deine Chance - ergreife sie und fliehe! In Kürze werden die Zombies die Kontrolle über die Zone zurückerlangen. Dir verbleiden:
                            {% endtrans %}
                            <span x-countdown="{{ zone_escape }}" x-on-expire="reload">...</span>
                        {% else %}
                            {% trans from 'game' %}
                                Du wurdest überrascht und bist jetzt von den Zombies umzingelt! Wenn du nichts unternimmst und dir niemand zu Hilfe eilt, wirst du ohne Zweifel heute Abend hier verrecken ...
                            {% endtrans %}
                        {% endif %}
                    </span>
                    {% if zone_escape <= 0 %}
                        <div class="row">
                            <div class="padded-small cell rw-6"><button><img alt="" src="{{ asset('build/images/attacked.gif') }}" />{% trans from 'game' %}Hilfe rufen!{% endtrans %}</button></div>
                            <div {% if not can_escape %}disabled{% endif %} class="padded-small cell rw-6"><button id="escape-btn"><img alt="" src="{{ asset('build/images/death.gif') }}" />{% trans from 'game' %}Die Flucht wagen!{% endtrans %}</button></div>
                        </div>
                        <div class="row">
                            <div {% if not can_attack %}disabled{% endif %} class="padded-small cell rw-8"><button id="attack-btn"><img alt="" src="{{ asset('build/images/fist.gif') }}" />{% trans from 'game' %}Gegen einen Zombie kämpfen!{% endtrans %} (<div class="ap">1</div>)</button></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endif %}
    <div class="row">
        <div class="padded cell rw-6 rw-md-12">
            <h5>{% trans from 'game' %}Diese Zone{% endtrans %}</h5>

            {% if zone.prototype %}
                <div class="note">
                    {% trans from 'game' %}Ruine{% endtrans %}:
                    <b>{{ zone.prototype.label|trans({}, 'game') }}</b>
                </div>

            {% endif %}

            {% if zone.digs <= 0 %}
                <div class="note">
                    <img alt="" src="{{ asset('build/images/Small_broken.gif') }}" />
                    {% trans from 'game' %}
                        Diese Zone ist leergesucht. Du wirst hier keine wertvollen Gegenstände mehr finden können.
                    {% endtrans %}
                </div>
            {% endif %}

            <h5>{% trans from 'game' %}Meine Aktionen{% endtrans %}</h5>

            {% if allow_enter_town %}
                <button id="town-enter">
                    {% if zone.x == 0 and zone.y == 0 %}
                        {% trans from 'game' %}Stadt betreten{% endtrans %}
                    {% else %}
                        {% trans from 'game' %}In die Stadt zurückkehren{% endtrans %}
                    {% endif %}
                </button>
            {% endif %}
            {% if zone.x != 0 or zone.y != 0 %}
                {% if not digging %}
                    {% if dig_timeout > 0 %}
                        <div class="note">
                            <img class="icon left" alt="" src="{{ asset('build/images/lock.gif') }}" />
                            {% trans from 'game' %}Du hast hier bereits vor Kurzem gegraben. Die nächste Ausgrabung ist möglich in:{% endtrans %}
                            <b x-countdown="{{ dig_timeout }}" x-on-expire="reload">...</b>
                        </div>
                    {% endif %}
                    <button id="dig_button" {% if zone_blocked or dig_timeout > 0 %}disabled{% endif %}>
                        <img class="icon left" alt="" src="{{ asset('build/images/small_gather.gif') }}" />
                        {% trans from 'game' %}In dieser Zone graben{% endtrans %}</button>
                {% else %}
                    <div class="note">
                        <img class="icon left" alt="" src="{{ asset('build/images/small_gather.gif') }}" />
                        {% trans from 'game' %}Nächste automatische Ausgrabung:{% endtrans %}
                        <span x-countdown="{{ dig_timeout }}" x-on-expire="reload">...</span>
                    </div>
                {% endif %}
                {% if zone.prototype %}
                    <button id="dig_ruin_button" {% if zone_blocked or not dig_ruin %}disabled{% endif %} >
                        <img class="icon left" alt="" src="{{ asset('build/images/small_gather.gif') }}" />
                        {% trans with {'%ruin%': zone.prototype.label|trans({},'game')} from 'game'  %}%ruin% durchsuchen{% endtrans %}
                    </button>
                {% endif %}
            {% endif %}

            {% if zone.x != 0 or zone.y != 0 %}
                {% embed "ajax/game/actions.html.twig" with {'list': actions, 'recipes': recipes} %}
                {% endembed %}
            {% endif %}
        </div>

        <div class="padded cell rw-6 rw-md-12">
            {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'fake_items': [], 'items': rucksack.items} %}
                {% block class %}rucksack{% endblock %}
                {% block title %}{% trans from 'game' %}Rucksack{% endtrans %}{% endblock %}
            {% endembed %}

            {% if allow_floor_access %}
                <button id="drop-all-button" {% if rucksack.items|length == 0 %}disabled{% endif %}>{% trans from 'game' %}Rucksack ausleeren{% endtrans %}</button>
                {% embed "ajax/game/inventory.html.twig" with {'size': 0, 'fake_items': [], 'items': floor.items} %}
                    {% block class %}desert{% endblock %}
                    {% block title %}{% trans from 'game' %}Am Boden{% endtrans %}{% endblock %}
                {% endembed %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/actions.js.twig" %}{% endembed %}

        let dig_button = document.getElementById('dig_button');
        if (dig_button)
            dig_button.addEventListener('click', function() {
                $.ajax.easySend( '{{ path('beyond_desert_dig_controller') }}', {},
                    function () {
                        $.ajax.load(null, '{{ path('beyond_dashboard') }}', true);
                    } );
            });
        let dig_r_button = document.getElementById('dig_ruin_button');
        if (dig_r_button)
            dig_r_button.addEventListener('click', function() {
                $.ajax.easySend( '{{ path('beyond_desert_scavenge_controller') }}', {},
                    function () {
                        $.ajax.load(null, '{{ path('beyond_dashboard') }}', true);
                    } );
            });

        {% if zone_blocked and zone_escape < 0 %}
            document.getElementById('escape-btn').addEventListener('click', function () {
                if (!confirm( '{% trans from 'global' %}Bestätigen?{% endtrans %}' ))
                    return;
                $.ajax.easySend( '{{ path('beyond_desert_escape_controller') }}', {},
                    function () {
                        $.ajax.load(null, '{{ path('beyond_dashboard') }}', true);
                    } );
            });
            document.getElementById('attack-btn').addEventListener('click', function () {
                if (!confirm( '{% trans from 'global' %}Bestätigen?{% endtrans %}' ))
                    return;
                $.ajax.easySend( '{{ path('beyond_desert_attack_controller') }}', {},
                    function () {
                        $.ajax.load(null, '{{ path('beyond_dashboard') }}', true);
                    } );
            });
        {% endif %}

        {% if allow_floor_access %}
            {% embed "scripts/inventory.js.twig" %}{% endembed %}
            handleItems(
                document.querySelectorAll('.rucksack>.item:not(.locked)'),
                '{{ path('beyond_desert_item_controller') }}',
                'down', '{{ path('beyond_dashboard') }}'
            );

            handleItems(
                document.querySelectorAll('#drop-all-button'),
                '{{ path('beyond_desert_item_controller') }}',
                'down-all', '{{ path('beyond_dashboard') }}'
            );

            handleItems(
                document.querySelectorAll('.desert>.item:not(.locked)'),
                '{{ path('beyond_desert_item_controller') }}',
                'up', '{{ path('beyond_dashboard') }}'
            );

            handleActions(
                document.querySelectorAll('ul.actions>li[x-action-id][x-provoking-id]:not([disabled])'),
                '{{ path('beyond_desert_action_controller') }}', '{{ path('beyond_dashboard') }}'
            );
            handleRecipes(
                document.querySelectorAll('ul.actions>li[x-recipe-id]:not([disabled])'),
                '{{ path('beyond_desert_recipe_controller') }}', '{{ path('beyond_dashboard') }}'
            );
        {% endif %}
        {% if allow_enter_town %}
            document.getElementById('town-enter').addEventListener('click', function() {
                if (!confirm( '{% trans from 'global' %}Bestätigen?{% endtrans %}' ))
                    return;
                $.ajax.easySend( '{{ path('beyond_desert_exit_controller') }}', {},
                    function () {
                        $.ajax.load(null, '{{ path('game_landing') }}', true);
                    } );
            });
        {% endif %}
    </script>
{% endblock %}