{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Heldenmodus'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContentPre %}
    <div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
{% endblock %}
{% block helpContent %}
<h1>{{ 'Heldenmodus'|trans({},'help')|raw }}</h1>
<h2>{{ 'Vorteile der erfahrenen Helden'|trans({},'help')|raw }}</h2>
<p>
{{ 'Als Held verfügst du standartmäßig über zahlreiche Vorteile und kannst diese mit fortschreitender Spieldauer sogar noch ausbauen!'|trans({},'help')|raw }}
</p>
<p>
<strong>{{ 'Jeder gespielte Tag trägt zu deiner Heldenerfahrung bei. Zudem kannst du zusätzliche Erfahrung für bestimmte Heldenhafte und... nicht so heldenhafte Taten erhalten.'|trans({},'help')|raw }}</strong>
{{ 'Die Menge der Erfahrung hängt von der Art der Tat ab, und wie oft du diese in der Vergangenheit bereits vollbracht hast. Du findest eine Übersicht auf der Heldenerfahrungs-Seite in deiner Seele.'|trans({},'help')|raw }}
</p>
<h2>{{ 'Fähigkeiten freischalten und aktivieren'|trans({},'help')|raw }}</h2>
<p>
{{ 'Du kannst deine gesammelte Heldenerfahrung einsetzen um neue Fähigkeiten freizuspielen, welche du dann beim Start einer neuen Stadt aktivieren kannst.'|trans({},'help')|raw }}
<ul>
<li>{{ 'Fähigkeiten werden in 5 Kategorien gruppiert - <strong>S</strong>trategie, <strong>U</strong>msicht, <strong>P</strong>lanung, <strong>E</strong>ifer und <strong>R</strong>uhe.'|trans({},'help')|raw }}</li>
<li>{{ 'Jede Kategorie hat wiederum 4 Stufen - <strong>Anfänger</strong>, <strong>Lehrling</strong>, <strong>Experte</strong> und <strong>Meister</strong>. Die letzten beiden Stufen müsst ihr durch Ausgabe von Heldenerfahrung freischalten.'|trans({},'help')|raw }}</li>
<li>{{ 'Trittst du einer Stadt bei, kannst du deine freigeschalteten Fähigkeiten <strong>für die Dauer der Stadt</strong> aktivieren und so von ihren Vorteilen profitieren.'|trans({},'help')|raw }}</li>
<li>{{ 'Deine Fähigkeiten stehen dir nur dann zur Verfügung, wenn du einen Heldenberuf spielst.'|trans({},'help')|raw }}</li>
</ul>
</p>
<h2>{{ 'Fähigkeitenpunkte'|trans({},'help')|raw }}</h2>
<p>
{{ 'Die Zahl der Fähigkeiten, die du gleichzeitig aktivieren kannst, ist begrenzt. Für jede Aktivierung benötigst du Fähigkeitenpunkte - nur Fähigkeiten der Anfänger-Stufe sind kostenlos und daher auch immer aktiv.'|trans({},'help')|raw }}
<ul>
<li>{{ 'Fähigkeitenpunkte werden <strong>nicht verbraucht</strong>, wenn du beim Start einer Stadt Fähigkeiten aktivierst. Es gibt also keinen Grund, <strong>nicht</strong> sämtliche Punkte einzusätzen.'|trans({},'help')|raw }}</li>
<li>{{ 'Die Kosten für eine Fähigkeit hängen von ihrer Stufe ab. Fähigkeiten auf Lehrling-Level kosten einen Punkt, Expertenfähigkeiten zwei und Meisterfähigkeiten drei Punkte.'|trans({},'help')|raw }}</li>
<li>{{ 'Wie viele Fähigkeitenpunkte du zur Verfügung hast, hängt maßgeblich von deinen Seelenpunkten ab. <strong>Ab 100 Seelenpunkten</strong> hast du zwei Punkte, <strong>ab 200 Seelenpunkten</strong> sogar vier.'|trans({},'help')|raw }}</li>
<li>{{ '<strong>Du kannst neue Fähigkeitspunkte für {costs} Erfahrungspunkte freischalten.</strong> Für den Kauf eines solchen Punktes kannst du bereits erworbene Fähigkeiten in Zahlung geben. Natürlich kannst du dabei jedoch beispielsweise keine Experten-Fähigkeit verkaufen, wenn du bereits die Meister-Fähigkeit erworben hast; du musst immer die höchste Fähigkeit zuerst verkaufen.'|trans({costs: 200},'help')|raw }}</li>
<li>{{ '<strong>Fähigkeitspunkte stehen dir immer für {duration} Spieltage zur Verfügung</strong>, unabhängig von Saison-Wechseln. Eine Besonderheit: In Saison 17 erworbene Fähigkeitenpunkte sind mit dem Start von Saison 18 noch {reduced_duration} Spieltage gültig.'|trans({duration: 100, reduced_duration: 50},'help')|raw }}</li>
<li>{{ '<strong>Du kannst nicht mehr als {num} Fähigkeitspunkte gleichzeitig besitzen.</strong>'|trans({num: 6},'help')|raw }}</li>
<li>{{ 'Als Belohnung für den Letzten Tod in einer Stadt kannst du einen zusätzlichen temporären Fähigkeitenpunkt erhalten. <strong>Dieser wird nicht auf die oben genannte Beschränkung auf {num} Fähigkeitenpunkte angerechnet.</strong>'|trans({num: 6},'help')|raw }}</li>
</ul>
</p>
<h2>{{ 'Saisonwechsel'|trans({},'help')|raw }}</h2>
<p>
<ul>
<li>{{ '<strong>Mit einer neuen Saison verlierst du keine Erfahrungs- oder Fähigkeitenpunkte.</strong> Du behälst alles, was du dir in der vorherigen Saison erarbeitet hast!'|trans({},'help')|raw }}</li>
<li>{{ '<strong>Ein Saisonwechsel setzt lediglich die bereits vollbrachten Taten zurück,</strong> sodass du für diese erneut Erfahrungspunkte sammeln kannst.'|trans({},'help')|raw }}</li>
</ul>
</p>
<div class="clear"></div>
{% endblock %}
{% block helpContentPost %}
    <a class="button" x-ajax-href="{{ url('help', {'name': 'coalitions'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Kleine Koalitionen'|trans({},'help') }}</strong></a>
{% endblock %}