{% extends "ajax/game/game.html.twig" %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block ajax %}
    <div class="row">
        <div class="padded-small cell rw-4 rw-sm-12">
            <div class="row">
           		<a class="support" href="/support" target="_blank"><em>{{ 'Brauchst du Hilfe?'|trans({},'help') }}</em>{{ 'Besuche unsere Technische Supportseite'|trans({},'help') }}</a>
                <ul class="HelpList">
                    <li class="link main {% if section == 'welcome' %}active{% endif %}" x-ajax-href="{{ url('help', {'name': 'welcome'}) }}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="intro"> {{ 'MyHordes?'|trans({},'help') }}
                    </li>
                    <li class="link main {% if section == 'world_beyond' %}active{% endif %}" x-ajax-href="{{ url('help', {'name': 'world_beyond'}) }}">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="outer">
                        {{ 'Die Außenwelt'|trans({},'help') }}
                    </li>
                    <ul>
                        <li class="link {% if section == 'getting_around' %}active{% endif %}" x-ajax-href="{{ url('help', {'name': 'getting_around'}) }}">
                            <img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move">
                            {{ 'Sich bewegen'|trans({},'help') }}
                        </li>
                        <li class="link {% if section == 'map' %}active{% endif %}" x-ajax-href="{{ url('help', {'name': 'map'}) }}">
                            <img src="{{ asset('build/images/icons/item_map.gif') }}" alt="map">
                            {{ 'Die Karte'|trans({},'help') }}
                        </li>
                        <li class="link {% if section == 'exploring_and_scavenging' %}active{% endif %}" x-ajax-href="{{ url('help', {'name': 'exploring_and_scavenging'}) }}">
                            <img src="{{ asset('build/images/icons/small_gather.gif') }}" alt="explore">
                            {{ 'Erkunden und Graben'|trans({},'help') }}
                        </li>
                        <li class="link {% if section == 'depleted_zones' %}active{% endif %}" x-ajax-href="{{ url('help', {'name': 'depleted_zones'}) }}">
                            <img src="{{ asset('build/images/icons/Small_broken.gif') }}" alt="depleted">
                            {{ 'Abgesuchte Zonen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/beyond/equal.gif') }}" alt="dom">
                            {{ 'Die Kontrollpunkte'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_move.gif') }}" alt="escort">
                            {{ 'Der Eskortenmodus'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_cutcut.gif') }}" alt="fight">
                            {{ 'Zombies im Freien bekämpfen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/pictos/r_doutsd.gif') }}" alt="night">
                            {{ 'Nachts'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/status/status_camper.gif') }}" alt="camp">
                            {{ 'Wildes Campen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_exploration.gif') }}" alt="explo">
                            {{ 'Gebäude untersuchen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_soul_blue.gif') }}" alt="soul">
                            {{ 'Verlorene Seelen'|trans({},'help') }}
                        </li>
                    </ul>
                    <li class="link main">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="player">
                        {{ 'Du'|trans({},'help') }}
                    </li>
                    <ul>
                        <li class="link">
                            <img src="{{ asset('build/images/status/status_tired.gif') }}" alt="status">
                            {{ 'Dein Gesundheitszustand'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_bag.gif') }}" alt="inv">
                            {{ 'Inventar'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_ghost_blue.gif') }}" alt="ghost">
                            {{ 'Deine Seele'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/death.gif') }}" alt="death">
                            {{ 'Der Tod und deine Seelenpunkte'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/pictos/r_surlst.gif') }}" alt="lastOne">
                            {{ 'Der letzte Tod'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/star.gif') }}" alt="hero">
                            {{ 'Heldenmodus'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/pictos/r_surgrp.gif') }}" alt="team">
                            {{ 'Kleine Koalitionen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/pictos/r_hbuild.gif') }}" alt="homeUpgrade">
                            {{ 'Haus &amp; Hausarbeiten'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/roles/ghoul.gif') }}" alt="ghoul">
                            {{ 'Ghule'|trans({},'help') }}
                        </li>
                    </ul>
                    <li class="link main">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="jobs">
                        {{ 'Die Berufe'|trans({},'help') }}
                    </li>
                    <ul>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/basic.gif') }}" alt="job_basic">
                            {{ 'Einwohner'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/dig.gif') }}" alt="job_collec">
                            {{ 'Buddler'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/vest.gif') }}" alt="job_eclair">
                            {{ 'Aufklärer'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/shield.gif') }}" alt="job_guardian">
                            {{ 'Wächter'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/book.gif') }}" alt="job_hunter">
                            {{ 'Einsiedler'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/tamer.gif') }}" alt="job_tamer">
                            {{ 'Dompteur'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/tech.gif') }}" alt="job_tech">
                            {{ 'Techniker'|trans({},'help') }}
                        </li>
                    </ul>
                    <li class="link main">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="roles">
                        {{ 'Die Rollen'|trans({},'help') }}
                    </li>
                    <ul>
                        <li class="link">
                            <img src="{{ asset('build/images/roles/shaman.gif') }}" alt="role_shaman">
                            {{ 'Shamane'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/roles/guide.gif') }}" alt="role_guide">
                            {{ 'Der Reiseleiter in der Außenwelt'|trans({},'help') }}
                        </li>
                    </ul>
                    <li class="link main">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="city">
                        {{ 'Herzlich willkommen in der Stadt'|trans({},'help') }}
                    </li>
                    <ul>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_world.gif') }}" alt="demo">
                            {{ 'Die Gemeinschaft'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/home.gif') }}" alt="votes">
                            {{ 'Neue Gebäude bauen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_bplan_u.gif') }}" alt="bplans">
                            {{ 'Baupläne'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/building/small_city_up.gif') }}" alt="upgrades">
                            {{ 'Weiterentwicklung des Tages'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/log/night.gif') }}" alt="attack">
                            {{ 'Der Angriff der Zombiehorde'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/water_soldier.gif') }}" alt="guard">
                            {{ 'Die Nachtwächter'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_star.gif') }}" alt="justice">
                            {{ 'Recht und Gesetz '|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_ban.gif') }}" alt="banned">
                            {{ 'Die Verbannten'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/professions/death.gif') }}" alt="chaos">
                            {{ 'Das Chaos'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_courroie.gif') }}" alt="catapult">
                            {{ 'Das Katapult'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/building/small_falsecity.gif') }}" alt="rne">
                            {{ 'Kleine Karten'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_out_def_broken.gif') }}" alt="devast">
                            {{ 'Zerstörte Stadt'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_arma.gif') }}" alt="hardcore">
                            {{ 'Städte des Pandämoniums'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_chair.gif') }}" alt="customMap">
                            {{ 'Privatstädte'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/item/item_dice.gif') }}" alt="rp">
                            {{ 'Rollenspieloptionen'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/forum/coin.png') }}" alt="seasons">
                            {{ 'Saisons und Ranglisten'|trans({},'help') }}
                        </li>
                    </ul>
                    <li class="link main">
                        <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="st">
                        {{ 'Support'|trans({},'help') }}
                    </li>
                    <ul>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="browser">
                            {{ '1- Überprüfe deinen Browser'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="parasites">
                            {{ '2- Überprüfe sonstige installierte Programme'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="contact">
                            {{ 'Hier erhältst du Hilfe'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="pass">
                            {{ 'Wie wähle ich ein sicheres Passwort?'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_middot.gif') }}" alt="quarantine">
                            {{ 'Stadt unter Quarantäne'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_calim.gif') }}" alt="report">
                            {{ 'Fehlverhalten melden'|trans({},'help') }}
                        </li>
                        <li class="link">
                            <img src="{{ asset('build/images/icons/small_warning.gif') }}" alt="sitting">
                            {{ 'Zum Thema \'Sitting\'...'|trans({},'help') }}
                        </li>
                    </ul>
                    <li class="link main">
                        <img src="{{ asset('build/images/icons/small_archive.gif') }}" alt="extern">
                        {{ 'Externe Webseiten und Anwendungen'|trans({},'help') }}
                    </li>
                </ul>
			</div>
        </div>
        <div class="padded cell rw-8 rw-sm-12">
            <div class="row help-content">
                {% block helpContent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}