{% extends "ajax/admin/reports/framework.html.twig" %}
{% block content %}
    <h5>{{ 'Meldungen für das Schwarze Brett'|trans({},'admin') }}</h5>

    {% if bin_shown %}
        <div class="note">
            {{ 'Du siehst aktuell gelöschte Meldungen.'|trans({},'admin') }}
            <a href="#" x-ajax-href="{{ path('admin_reports_blackboard', {opt: ''}) }}">{{ 'Zurück zur Meldungsübersicht'|trans({},'admin') }}</a>
        </div>
    {% else %}
        <div class="note">
            {{ 'Möchtest du bereits gelöschte Meldungen durchsuchen?'|trans({},'admin') }}
            <a href="#" x-ajax-href="{{ path('admin_reports_blackboard', {opt: 'bin'}) }}">{{ 'Zum Papierkorb'|trans({},'admin') }}</a>
        </div>
    {% endif %}

    <div class="row-table">
        <div class="row header">
            <div class="cell rw-3 rw-sm-12 padded">{{ "Stadt" |trans({}, 'admin') }}</div>
            <div class="cell rw-lg-3 hide-sm hide-md padded">{{ "Autor" |trans({}, 'admin') }}</div>
            <div class="cell rw-1 hide-sm hide-md hide-lg padded">#</div>
            <div class="cell rw-4 hide-sm hide-md padded">{{ "gemeldet von" |trans({}, 'admin') }}</div>
            <div class="cell rw-2 hide-sm hide-md padded">{{ "Aktionen" |trans({}, 'admin') }}</div>
        </div>
        {% for board in boards %}
            <div class="row">
                <div class="cell-small padded rw-6 rw-md-12">
                    <span>{{ board.board.town.name }}</span>
                </div>
                <div class="cell padded rw-2 rw-lg-3 rw-md-6">
                    <span>{{ board.board.user.name }}</span>
                </div>
                <div class="cell padded rw-1 hide-sm hide-md hide-lg">
                    <span>{{ board.count }}</span>
                </div>
                <div class="cell padded rw-4 rw-sm-12">
                    {% set iteration = 0 %}
                    {% for reporter in board.reporters %}
                        {% if iteration > 0 %}
                            <span>{{ ", " ~ reporter.name }}</span>
                        {% else %}
                            <span>{{ reporter.name }}</span>
                        {% endif %}
                        {% set iteration = iteration + 1 %}
                    {% endfor %}
                </div>
                <div class="cell padded rw-4 rw-md-8">
                    <button class="small inline" x-ajax-target="_blank" x-ajax-href="{{ path('admin_town_blackboard', {id: board.board.town.id, highlight: board.board.id}) }}">{{ 'Öffnen'|trans({}, 'admin') }}</button>
                    {% if not bin_shown %}
                        <button class="small inline" x-report-action="seen-bb-reports" x-post-id={{ board.board.id }}>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                    {% endif %}
                </div>
                <div class="hidden cell padded rw-12" x-bb-target="{{ board.board.id }}"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.html.addEventListenerAll('[x-report-action=seen-bb-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_mod_bb') }}', {bbid: parseInt(elem.getAttribute('x-post-id')), seen: true},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports_blackboard', {opt: opt}) }}', true);
                } );
        } );
    </script>
{% endblock %}