{% extends "ajax/game/town/town.html.twig" %}
{% block content %}

    <div class="help">
        {% trans from 'game' %}
            Hier findest du alle Gegenstände, die gegenwärtig in der Bank aufbewahrt werden. Bei diesen Gegenständen handelt es sich um Spenden der Bürger. Sie sind im Wesentlichen dazu da, Gemeinschaftsgebäude zu bauen und die Stadt gegen die allnächtlichen Zombieattacken zu verteidigen.
        {% endtrans %}
    </div>

    <div class="row">
        <div class="padded cell rw-6 rw-md-12">
            {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'items': rucksack.items} %}
                {% block class %}rucksack{% endblock %}
                {% block title %}{% trans from 'game' %}Rucksack{% endtrans %}{% endblock %}
            {% endembed %}

            <button id="drop-all-button" {% if rucksack.items|length == 0 %}disabled{% endif %}>{% trans from 'game' %}Rucksack ausleeren{% endtrans %}</button>
        </div>
    </div>
    <div class="row">
        <div class="padded cell rw-12">
            {% embed "ajax/game/inventory.html.twig" with {'size': 0, 'items': bank, 'bankmode': true} %}
                {% block class %}bank{% endblock %}
                {% block title %}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/inventory.js.twig" %}{% endembed %}

        handleItems(
            document.querySelectorAll('.rucksack>.item:not(.locked)[x-item-id]'),
            '{{ path('town_bank_item_controller') }}',
            'down', '{{ path('town_bank') }}'
        );

        handleItems(
            document.querySelectorAll('#drop-all-button'),
            '{{ path('town_bank_item_controller') }}',
            'down-all', '{{ path('town_bank') }}'
        );

        handleItems(
            document.querySelectorAll('.bank>.item:not(.locked)[x-item-id]'),
            '{{ path('town_bank_item_controller') }}',
            'up', '{{ path('town_bank') }}'
        );
    </script>
{% endblock %}