{% extends "ajax/game/town/town.html.twig" %}
{% block title %}{{'Die Bank'|trans({}, 'game')}}{% endblock %}

{% block tutorial %}
    <div x-tutorial-content="3.text11" class="toplevel text arrow-down">
        <div class="help">
            <p>{% trans from "help" %}
                Hier kannst du Gegenstände in der Bank ablegen oder aufnehmen. <strong>Alle Spieler</strong> haben Zugang zur Bank, möglicherweise solltest du dich also mit den anderen Spielern <strong>absprechen</strong>, bevor du dich hier bedienst...
            {% endtrans %}</p>
            <button x-advance-tutorial="complete">{{ 'Weiter...'|trans({},'help') }}</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-bank time-{{ hour }} {% if conf.isNightTime %}night{% endif %}"></div>
    </div>

    <div class="help">
        {% trans from 'game' %}
            Hier findest du alle Gegenstände, die gegenwärtig in der Bank aufbewahrt werden. Bei diesen Gegenständen handelt es sich um Spenden der Bürger. Sie sind im Wesentlichen dazu da, Gemeinschaftsgebäude zu bauen und die Stadt gegen die allnächtlichen Zombieattacken zu verteidigen.
        {% endtrans %}
    </div>

    <div class="row-flex wrap town-summary">
        <div class="padded cell rw-4 ellipsis row-header"><img src="{{ asset('build/images/item/item_plate.gif') }}" /> {{'Stadtverteidigung'|trans({}, 'game')}}</div>
        <div class="padded cell rw-8 ellipsis row-detail"><span data-incidental-target="towndef">{{def}}</span> <img src="{{ asset('build/images/icons/small_def.gif') }}" /> (<span class="link" x-ajax-href="{{ path('town_dashboard') }}">{{'Details ansehen'|trans({}, 'game')}}</span>)</div>
        <div class="padded cell rw-4 ellipsis row-header">{{'Verteidigungsgegenstände'|trans({}, 'game')}}</div>
        <div class="padded cell rw-8 ellipsis row-detail"><span data-incidental-target="towndef_items">{{item_defense}}</span> {{'Punkte'|trans({}, 'global')}} (<span data-incidental-target="towndef_item_count">{{item_def_count}}</span> {{'Gegenstände'|trans({}, 'game')}} x {{item_def_factor}} <img alt="" src="{{ asset('build/images/icons/small_def.gif') }}" /> ) <a class="help-button"><div class="tooltip help">{{ 'Jeder <strong>Verteidigungsgegenstand</strong>, der sich in der Bank befindet, bringt der Stadt <strong>{def} Verteidigungspunkt(e)</strong>.'|trans({def: item_def_factor},'global')|raw }}</div>{{ 'Hilfe'|trans({},'global') }}</a> </div>
    </div>

    <div class="row-flex wrap">
        <div class="padded cell rw-6 rw-lg-12">
            <hordes-inventory
                    id="bank-inventory" data-react-mount="bank-inventory" data-log="1"
                    data-etag="{{ date().timestamp }}" data-steal="{{ conf.isNightMode ? '1' : '0' }}"
                    data-inventory-a-type="rucksack" data-inventory-a-id="{{ home.citizen.inventory.id }}"
                    data-inventory-b-type="bank" data-inventory-b-id="{{ town.bank.id }}"
            ></hordes-inventory>
        </div>

        <div class="padded cell rw-6 rw-lg-12">
            <h5 class="hide-desktop">{{ 'Diskussionen rund um die Bank'|trans({},'game') }}</h5>
            <div class="forum-preview-wrapper forum-preview-wrapper-bank">
                <div class="forum-preview-container">
                    <div id="forum-content">
                        <div class="center"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Lade Forum...'|trans({},'game') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5>{% trans from 'game' %}Bankregister{% endtrans %} <a class="float-right link" x-ajax-href="{{ path("game_newspaper") }}">{{ 'Das Gesamtregister ansehen'|trans({}, 'game') }}<div class="tooltip normal">{{ 'Dieser Link bringt dich zum <strong>Großen Register</strong>. Darin werden alle wichtigen Handlungen und Aktionen der Stadtbürger gespeichert...'|trans({}, 'game')|raw }}</div></a></h5>
        <div class="cell rw-12">
            <hordes-log id="bank-log" data-react-mount="bank-log" data-day="{{ day }}" data-etag="{{ date().timestamp }}" data-category="{{ constant('App\\Entity\\LogEntryTemplate::TypeBank') }}" data-domain="town"></hordes-log>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.ajax.background().no_history().load( document.getElementById('forum-content'), '{{ path('forum_previewer_controller', {fid: town.forum.id, sem: constant('App\\Entity\\Thread::SEMANTIC_BANK') })|e('js') }}', false, {}, function() {
            let container = document.querySelector('.forum-posts');
            container.scrollTop = container.scrollHeight;
        } );
    </script>
{% endblock %}