{% extends "ajax/game/town/town.html.twig" %}
{% block title %}{{'Katapult'|trans({}, 'game')}}{% endblock %}
{% block content %}

    <h1 class="page-head">{{'Katapult'|trans({}, 'game')}}</h1>

    <div class="help">
        <strong>{{ 'Das Katapult ist ein wirklich mächtiges Instrument, um jeden beliebigen Gegenstand zu einer Zone in der Wüste zu schicken.'|trans({},'game') }}</strong>
        {{ 'Praktisch zur Versorgung aus der Ferne.'|trans({},'game') }}
        <p>{{ 'Denke daran, dass das Katapult manchmal sein Ziel verfehlt und den Gegenstand in eine angrenzende Zone befördert...'|trans({},'game')}}</p>
        <p>
            {% if is_catapult_master %}
                <strong>{{'Du wurdest als Verantwortlicher für das Katapult bestimmt!'|trans({},'game')}}</strong>
                {{'Wähle einen Gegenstand aus deinem Inventar und gib die Zielkoordinaten ein.'|trans({},'game')}}
            {% else %}
                {{'Unser Katapult wird von dem vom Schicksal auserwählten Bürger %citizen% gesteuert. Sollte ihm etwas Schreckliches zustoßen, könnte dann ein neuer Bürger gewählt werden.'|trans({'%citizen%': ('<span class="link" x-ajax-href="' ~ path('town_visit', {id: catapult_master.id}) ~ '"><b>' ~ catapult_master.user.name ~ '</b></span>')},'game')|raw}}
            {% endif %}
        </p>
        {% if catapult_improved %}
            {{ 'Die Aktivierung des Katapults kostet %ap%.'|trans({'%ap%': '<div class="ap">2</div>'},'game')|raw }}
        {% else %}
            {{ 'Die Aktivierung des Katapults kostet %ap% (diese Kosten können durch den Bau eines besseren Katapults gesenkt werden).'|trans({'%ap%': '<div class="ap">4</div>'},'game')|raw }}
        {% endif %}
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}