{% extends "ajax/game/town/town.html.twig" %}
{% block content %}

    <div class="row-table">
        {% for citizen in citizens %}
            {# @var \App\Entity\Citizen citizen  #}
            <div class="row">
                <div class="padded cell rw-1 rw-md-2">
                    <img alt="{{ citizen.home.prototype.level }}" src="{{ asset('build/images/home/' ~ citizen.home.prototype.icon ~ '.gif') }}" />
                </div>
                <div class="padded cell rw-3 rw-md-5 small">
                    <span class="pointer" x-ajax-href="{{ path('town_visit', {id: citizen.id}) }}">
                        <img alt="{{ citizen.profession.label|trans({},'game') }}" src="{{ asset('build/images/professions/' ~ citizen.profession.icon ~ '.gif') }}" />
                        <b>{{ citizen.user.username }}</b>
                    </span>
                </div>
                <div class="padded cell rw-5 small hide-md hide-sm">
                    {{ citizen.home.description }}
                </div>
                <div class="padded cell rw-3 rw-md-5 small">
                    {% if not hidden[citizen.id] %}
                        {% for item in citizen.home.chest.items %}
                            {# @var \App\Entity\Item item #}
                            <img alt="{{ item.prototype.label|trans({},'items') }}" src="{{ asset('build/images/item/item_' ~ item.prototype.icon ~ '.gif') }}" />
                        {% endfor %}
                    {% else %}
                        <span>---</span>
                    {% endif %}
                </div>
                <div class="padded cell rw-12 small hide-desktop hide-lg">
                    {{ citizen.home.description }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}