{% extends "ajax/game/town/town.html.twig" %}
{% block content %}

    <h1 class="page-head">{{'Experimentelle Klinik der Dompteure'|trans({}, 'buildings')}}</h1>

    <div class="help">
        {{ 'Die Experimentelle Klinik der Dompteure verfügt über ein komplexes System zur Domestizierung von Wildtieren - bestehend im wesentlichen aus einem verschließbaren Käfig mit einer Futterschale darin.'|trans({},'game') }}
        <br />
        {{ 'Einmal pro Tag kann jeder Bürger damit wilde Tiere aus der Umgebung der Stadt anlocken.'|trans({},'game') }}
    </div>

    {% if banished %}
        <div class="note note-warning">
            {% trans from 'game' %}
                Du wurdest verbannt und kannst daher keine Tiere anlocken.
            {% endtrans %}
        </div>
    {% endif %}

    <div class="row">
        {% if not used %}
            <div class="padded cell rw-12">

            <h5>{{ 'Inhalt der Futterschale'|trans({},'game') }}</h5>
            <br/>

            <div class="tamer-clinic">
                <div class="tamer-clinic-tile" data-selected="">
                    <img class="pointer" data-action="purge" alt="X" src="{{ asset('build/images/icons/small_remove.gif') }}" />
                    <div></div>
                </div>
                <div class="tamer-clinic-tile" data-selected="">
                    <img class="pointer" data-action="purge" alt="X" src="{{ asset('build/images/icons/small_remove.gif') }}" />
                    <div></div>
                </div>
                <div class="tamer-clinic-tile" data-selected="">
                    <img class="pointer" data-action="purge" alt="X" src="{{ asset('build/images/icons/small_remove.gif') }}" />
                    <div></div>
                </div>
            </div>

        </div>
        {% else %}
            <div class="padded cell rw-12">
                <div class="note note-warning">{{ 'Du hast die Tierklinik heute bereits verwendet.'|trans({},'game') }}</div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="padded cell rw-12 center">
            {% if not used %}
                <button class="inline" data-action="lure">{{ 'Tiere anlocken'|trans({},'game') }}</button>
            {% endif %}
        </div>
        <div class="padded cell rw-12">
            <h5>{{ 'Verfügbare Lockmittel'|trans({},'game') }}</h5>
        </div>
    </div>

    <div class="row-table">
        <div class="row header">
            <div class="padded cell rw-7">
                <span class="hide-md hide-sm">{{ 'Gegenstand'|trans({},'game') }}</span>
            </div>
            <div class="padded cell rw-2 center">
                <span class="hide-md hide-sm">{{ 'Vorrat'|trans({},'game') }}</span>
            </div>
        </div>
        {% for item in items %}
            <div class="row">
                <div class="padded cell rw-7 rw-md-4 rw-sm-3">
	                <span class="icon hide-md hide-sm">
			        <img src='{{asset('build/images/item/item_' ~ item[0].icon ~ '.gif')}}'  alt='{{ item[0].label|trans({}, 'items')}}' />
			            {{ item[0].label|trans({}, 'items')}}
			        </span>
                    <img class='hide-lg hide-desktop' src='{{ asset('build/images/item/item_' ~ item[0].icon ~ '.gif')}}' alt='{{ item[0].label|trans({},'items') }}' />
                </div>
                <div class="padded cell rw-2 center">
                    <span class='small'>{{ item[1] }}
                </div>
                <div class="padded cell rw-3 rw-md-5 rw-sm-6 right">
                    {% if not banished %}
                        <button data-action="add" data-add="{{ item[0].id }}" data-icon="{{ asset('build/images/item/item_' ~ item[0].icon ~ '.gif')}}">{{'Hinzufügen'|trans({},  'game')}}</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <h5>{{ 'Klinikregister'|trans({},'game') }} <a class="float-right link" x-ajax-href="{{ path("game_newspaper") }}">{{ 'Das Gesamtregister ansehen'|trans({}, 'game') }}<div class="tooltip normal">{{ 'Dieser Link bringt dich zum <strong>Großen Register</strong>. Darin werden alle wichtigen Handlungen und Aktionen der Stadtbürger gespeichert...'|trans({}, 'game')|raw }}</div></a></h5>
        <div class="cell rw-12">
            <hordes-log id="clinic-log" data-react-mount="clinic-log" data-day="{{ day }}" data-etag="{{ date().timestamp }}" data-category="101" data-domain="town"></hordes-log>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>

        const restate = () => {
            const has_empty = document.querySelectorAll('[data-selected=""]').length > 0;

            if (has_empty)
                document.querySelector('[data-action="lure"]')?.setAttribute('disabled','disabled');
            else document.querySelector('[data-action="lure"]')?.removeAttribute('disabled');

            document.querySelectorAll('[data-action="add"][data-add][data-icon]').forEach(e => {
                const exists = document.querySelectorAll('[data-selected="' + e.dataset.add + '"]').length > 0;

                if (!has_empty || exists) e.setAttribute('disabled','disabled')
                else e.removeAttribute('disabled');
            });

            document.querySelectorAll('[data-selected]').forEach(e => {
                e.querySelector('[data-action="purge"]').classList.toggle('hidden', e.dataset.selected === '');
            });
        }

        restate();

        document.querySelectorAll('[data-action="add"][data-add][data-icon]').forEach( e => {
            e.addEventListener('click', () => {

                const target = document.querySelector('[data-selected=""]');
                target.dataset.selected = e.dataset.add;
                target.querySelector('div').innerHTML = '<img alt="" src="' + e.dataset.icon + '" />'

                restate();
            })
        })

        document.querySelectorAll('[data-action="purge"]').forEach( e => {
            e.addEventListener('click', () => {

                const target = e.closest('[data-selected]')

                target.dataset.selected = '';
                target.querySelector('div').innerHTML = ''

                restate();
            })
        })

        document.querySelector('[data-action="lure"]')?.addEventListener('click', function() {
            let items = [];
            document.querySelectorAll('[data-selected]').forEach( e => items.push( parseInt( e.dataset.selected ) ) );
            $.ajax.easySend( '{{ path('town_tamer_clinic_lure_controller') }}', {items},
                function () {
                    $.ajax.load(null, '{{ path('town_tamer_clinic') }}', true);
                } );
        });
    </script>
{% endblock %}