{% extends "ajax/game/town/town.html.twig" %}
{% block title %}{{'Bauprojekte der Stadt'|trans({}, 'game')}}{% endblock %}

{% block tutorial %}
    <div x-tutorial-content="6.text3" class="toplevel text no-arrow">
        <div class="help">
            <p>{% trans from "help" %}
                Hier siehst du alle <strong>aktuellen Bauprojekte</strong> deiner Stadt.
            {% endtrans %}</p>
            <p>{% trans from "help" %}
                Jeder Eintrag entspricht einem Bauwerk, welches deine Stadt <strong>errichten kann</strong> oder bereits <strong>gerade errichtet</strong>.
            {% endtrans %}</p>
            <button x-advance-tutorial="6.text4">{{ 'Weiter...'|trans({},'help') }}</button>
        </div>
    </div>
    <div x-tutorial-content="6.text4" class="toplevel text no-arrow">
        <div class="help">
            <p>{% trans from "help" %}
                Um ein Gebäude zu errichten müssen sich zunächst <strong>alle erforderlichen Gegenstände</strong> in der Bank befinden.
            {% endtrans %}</p>
            <p>{% trans from "help" %}
                Danach kannst du Aktionspunkte investieren, um an einem Bauwerk zu arbeiten.
            {% endtrans %}</p>
            <button x-advance-tutorial="6.text5">{{ 'Weiter...'|trans({},'help') }}</button>
        </div>
    </div>
    <div x-tutorial-content="6.text5" class="toplevel text no-arrow">
        <div class="help">
            <p>{% trans from "help" %}
                Die wenigsten Gebäude können von einer einzelnen Person errichtet werden. Die Bürger der Stadt müssen <strong>sich koordinieren</strong>, um den Bau neuer Gebäude abzuschließen.
            {% endtrans %}</p>
            <p>{% trans from "help" %}
                Sobald ausreichend Aktionspunkte in den Bau eines Gebäudes investiert wurden, werden die entsprechenden Gegenstände <strong>aus der Bank entfernt</strong> und das neue Gebäude nimmt seine Arbeit auf.
            {% endtrans %}</p>
            <button x-advance-tutorial="6.text6">{{ 'Weiter...'|trans({},'help') }}</button>
        </div>
    </div>
    <div x-tutorial-content="6.text6" class="toplevel text no-arrow">
        <div class="help">
            <p>{% trans from "help" %}
                Nicht alle Gebäude können direkt beim Start des Spiels errichtet werden.
            {% endtrans %}</p>
            <p>{% trans from "help" %}
                Manche Gebäude erfordern zunächst den Bau <strong>anderer Gebäude</strong>.
            {% endtrans %}</p>
            <p>{% trans from "help" %}
                Andere Gebäude könnnen nicht errichtet werden, weil sie der Stadt <strong>gar nicht bekannt sind</strong>. Bei den Ausflügen in die Außenwelt werden die Bürger gelegentlich <strong>Baupläne</strong> entdecken, welche - <strong>wenn sie gelesen werden</strong> - der Stadt neue Bauprojekte ermöglichen.
            {% endtrans %}</p>
            <button x-advance-tutorial="complete">{{ 'Weiter...'|trans({},'help') }}</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-construction time-{{ hour }} {% if conf.isNightTime %}night{% endif %}"></div>
    </div>

    <div class="help">
        {% trans from 'game' %}
            In diesem Bereich kannst du an der <strong>Errichtung neuer Gebäude und Bauprojekte mitarbeiten</strong>. Dazu musst du zunächst die dafür notwendigen Materialien in der Wüste einsammeln (Holz, Metall,...). Anschließend kannst du deine Aktionspunkte (AP) für das Gebäude ausgeben, das dich am meisten interessiert.
        {% endtrans %}
        <br />
        <p>{{ help_lnk('Neue Gebäude bauen'|trans({},'help'), 'help', {'name': 'constructing_new_buildings'}) }}</p>
    </div>

    {% if banished %}
        {% if slavery %}
            <div class="note">
                {% trans from 'game' %}
                    Die Stadt hat Sklaverei legalisiert. Ab sofort kannst du trotz deiner Verbannung auf einer Baustelle
                    arbeiten und erhälst sogar einen Bonus von 50% auf alle investierten <div class="ap"></div>.
                {% endtrans %}
            </div>
        {% else %}
            <div class="note note-warning">
                {% trans from 'game' %}
                    Du wurdest verbannt und kannst daher nicht länger auf einer Baustelle arbeiten.
                {% endtrans %}
            </div>
        {% endif %}
    {% endif %}

    <h5>{{ 'Diskussionen rund um Bauprojekte'|trans({},'game') }}</h5>
    <div class="forum-preview-wrapper forum-preview-wrapper-construction">
        <div class="forum-preview-container">
            <div id="forum-content">
                <div class="center"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Lade Forum...'|trans({},'game') }}</div>
            </div>
        </div>
    </div>


    <h5>{{ 'Vorhandene Bauprojekte'|trans({},'game') }}</h5>
    <hordes-building-page id="town-building-page" data-react-mount="town-building-page" data-etag="--"
                          data-ap-ratio="{{ 1.0 / workshopBonus }}" data-hp-ratio="{{ hpToAp }}"
                          data-bank="{{ town.bank.id }}" data-can-vote="{{ canvote ? 1 : 0 }}"
    ></hordes-building-page>

    <br />

    <div class="help">
    {{ 'Bauprojekte, die mit dem Symbol "<img alt="(!)" src="{path}" />" gekennzeichnet sind, können nur einmal verwendet werden. Sie werden nach dem Angriff der Zombiehorde wieder abgerissen. Wenn ihr wollt, könnt ihr sie morgen nochmal bauen.'|trans({"{path}": asset('build/images/icons/small_warning.gif')},'game')|raw }}  
    </div>

    <div class="row">
        <h5>{{ 'Baustellenregister'|trans({},'game') }} <a class="float-right link" x-ajax-href="{{ path("game_newspaper") }}">{{ 'Das Gesamtregister ansehen'|trans({}, 'game') }}<div class="tooltip normal">{{ 'Dieser Link bringt dich zum <strong>Großen Register</strong>. Darin werden alle wichtigen Handlungen und Aktionen der Stadtbürger gespeichert...'|trans({}, 'game')|raw }}</div></a></h5>
        <div class="cell rw-12">
            <hordes-log id="construction-log" data-react-mount="construction-log" data-day="{{ day }}" data-etag="{{ date().timestamp }}" data-category="{{ constant('App\\Entity\\LogEntryTemplate::TypeConstruction') }}" data-domain="town"></hordes-log>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $.ajax.background().no_history().load( document.getElementById('forum-content'), '{{ path('forum_previewer_controller', {fid: town.forum.id, sem: constant('App\\Entity\\Thread::SEMANTIC_CONSTRUCTIONS') })|e('js') }}', false, {}, function() {
            let container = document.querySelector('.forum-posts');
            container.scrollTop = container.scrollHeight;
        } );
    </script>
{% endblock %}