{% extends "ajax/game/town/town.html.twig" %}
{% block content %}

    <div class="row">
        <div class="padded cell rw-6 rw-md-12">

            <div class="help">
                {% trans from 'game' %}
                    Du kannst von hier aus die Stadt verlassen und die Außenwelt erkunden. Vergiss aber nicht, um Mitternacht das Tor zu schließen!
                {% endtrans %}
            </div>

            <h5>{% trans from 'game' %}Meine Aktionen{% endtrans %}</h5>
            {% if town.door %}
                <button id="door_closer"><img alt="" src="{{ asset('build/images/small_action.gif') }}" />{% trans from 'game' %}Tor schließen{% endtrans %} (<div class="ap">1</div>)</button>
            {% else %}
                <button id="door_opener"><img alt="" src="{{ asset('build/images/small_action.gif') }}" />{% trans from 'game' %}Tor öffnen{% endtrans %} (<div class="ap">1</div>)</button>
            {% endif %}
            <button x-ajax-href="{{ path('town_planner') }}"><img alt="" src="{{ asset('build/images/planner.gif') }}" />{{ 'Route planen...'|trans({},'game') }}</button>
            <button id="door_exit" {% if not town.door %}disabled{% endif %}><img alt="" src="{{ asset('build/images/small_move.gif') }}" />{% trans from 'game' %}Stadt verlassen{% endtrans %}</button>
        </div>
        <div class="padded cell rw-6 rw-md-12">
            {% embed "ajax/game/map.html.twig" with {'default_zoom': 0, 'default_show_zone': false, 'allow_zone_view': false} %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/map.js.twig" %}{% endembed %}

        const handleDoor = function(element, action) {
            if (!element) return;
            element.addEventListener('click', function() {
                if (!confirm( '{% trans from 'global' %}Bestätigen?{% endtrans %}' ))
                    return;
                $.ajax.easySend( '{{ path('town_door_control_controller') }}', {
                        action: action
                    },
                    function () {
                        $.ajax.load(null, '{{ path('town_door') }}', true);
                    } );
            });
        };

        handleDoor( document.getElementById('door_opener'), 'open' );
        handleDoor( document.getElementById('door_closer'), 'close' );

        document.getElementById('door_exit').addEventListener('click', function() {
            if (!confirm( '{% trans from 'global' %}Bestätigen?{% endtrans %}' ))
                return;
            $.ajax.easySend( '{{ path('town_door_exit_controller') }}', {},
                function () {
                    $.ajax.load(null, '{{ path('game_landing') }}', true);
                } );
        });
    </script>
{% endblock %}