{% extends "ajax/game/town/town.html.twig" %}
{% block content %}

    <h1 class="page-head">{{'Müllhalde'|trans({}, 'buildings')}}</h1>

    <div class="help">
        {% trans from 'game' %}
            Auf der Müllhalde kannst du Gegenstände aus der Bank verwenden, um temporär die Verteidigung der Stadt zu verbessern.
        {% endtrans %}
        <br />
        {% trans from 'game'%}
            Dieser Abwehrbonus verschwindet um Mitternacht, nach dem Angriff.
        {% endtrans %}
    </div>

    {{ hook('dumpDisplayCost', ap_cost) }}

    {% if banished %}
        <div class="note note-warning">
            {% trans from 'game' %}
                Du wurdest verbannt und kannst die Müllhalde daher nicht länger nutzen.
            {% endtrans %}
        </div>
    {% endif %}

    <div class="row">
        <div class="cell rw-4 ro-4 rw-lg-6 ro-lg-3 rw-md-8 ro-md-2 rw-sm-10 ro-sm-1">
            <div class="badge">
                <div class="center"><div class="defense"><strong>+ {{ dump_def }}</strong></div></div>
                <div class="center"><div class="defense"><span>{{ 'Gesamt: {def}'|trans({'{def}': total_def},'game') }}</span></div></div>
            </div>
        </div>
    </div>

    <div class="row-table">
        <div class="row header">
            <div class="padded cell rw-5">
                <span class="hide-md hide-sm">{{ 'Gegenstand'|trans({},'game') }}</span>
            </div>
            <div class="padded cell rw-2 center">
                <span class="hide-md hide-sm">{{ 'Vorrat'|trans({},'game') }}</span>
            </div>
            <div class="padded cell rw-2 center">
                <span class="hide-lg hide-md hide-sm">{{ 'Verteidigung'|trans({},'game') }}</span>
            </div>
        </div>
        {% for item in items %}
            <div class="row">
                {{ hook('dumpDisplayItems', item, banished) }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <h5><a class="float-right link" x-ajax-href="{{ path("game_newspaper") }}">{{ 'Das Gesamtregister ansehen'|trans({}, 'game') }}<div class="tooltip normal">{{ 'Dieser Link bringt dich zum <strong>Großen Register</strong>. Darin werden alle wichtigen Handlungen und Aktionen der Stadtbürger gespeichert...'|trans({}, 'game')|raw }}</div></a></h5>
        <div class="cell rw-12">
            <hordes-log id="dump-log" data-react-mount="dump-log" data-day="{{ day }}" data-etag="{{ date().timestamp }}" data-category="{{ constant('App\\Entity\\LogEntryTemplate::TypeDump') }}" data-domain="town"></hordes-log>

        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {{ hook('dumpDisplayActionsJs') }}
    </script>
{% endblock %}