{% extends "ajax/game/town/town.html.twig" %}
{% block content %}

    {# @var \App\Entity\Citizen citizen #}
    {# @var \App\Structures\HomeDefenseSummary def #}
    <h5>
        <b>{{ citizen.user.username }}</b>
        ({% if citizen.alive %}
            <img alt="{{ citizen.profession.label|trans({},'game') }}" src="{{ asset('build/images/professions/' ~ citizen.profession.icon ~ '.gif') }}" />
        {% else %}
            <img alt="{{ 'Tot'|trans({},'game') }}" src="{{ asset('build/images/professions/death.gif') }}" />
        {% endif %})
    </h5>

    <div class="lightbox">
        <div class="row">
            <div class="cell rw-3"><span class="highlight">{{ 'Haus'|trans({},'game') }}:</span></div>
            <div class="cell rw-9"><img alt="" src="{{ asset('build/images/home/' ~ citizen.home.prototype.icon ~ '.gif') }}"> {{ citizen.home.prototype.label|trans({},'buildings') }}</div>
        </div>
        {% if citizen.alive %}
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Verteidigung'|trans({},'game') }}:</span></div>
                <div class="cell rw-9"><img alt="" src="{{ asset('build/images/def.gif') }}"> {{ def.sum }}</div>
            </div>
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Dekoration'|trans({},'game') }}:</span></div>
                <div class="cell rw-9"><img alt="" src="{{ asset('build/images/deco.gif') }}"> {{ deco }}</div>
            </div>
        {% else %}
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Todesursache'|trans({},'game') }}:</span></div>
                <div class="cell rw-9">{{ citizen.causeOfDeath.label|trans({},'game') }}</div>
            </div>
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Letzte Worte'|trans({},'game') }}:</span></div>
                <div class="cell rw-9"></div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="padded cell rw-6">
            <h5>{% trans from 'game' %}Meine Spezialaktionen{% endtrans %}</h5>
            <h5>{% trans from 'game' %}Gemeinschaft{% endtrans %}</h5>
            {% if citizen.alive %}
                {# @var complaint \App\Entity\Complaint|null #}
                {% if complaints > 0 %}
                    <div class="note">
                        {{ '%citizen% hat bereits %num% Anzeige(n).'|trans({'%citizen%': citizen.user.username, '%num%': '<b>' ~ complaints ~ '</b>'}, 'game')|raw }}<br />
                        {% set names = ['', 'Verbannung'|trans({},'game'), 'Todesstrafe'|trans({},'game') ] %}
                        {% if complaint is not null and complaint.severity > 0 %}
                            {{ 'Eine davon stammt von dir. Du hast %punishment% gefordert.'|trans({'%punishment%': '<b>' ~ names[complaint.severity] ~ '</b>'}, 'game')|raw }}<br />
                        {% endif %}
                    </div>
                {% endif %}
                {% if complaint is null or complaint.severity == 0 %}<button x-complaint-severity="1">{{ 'Anzeige erstatten'|trans({},'game') }}</button>{% endif %}
                {% if complaint is not null and complaint.severity > 0 %}<button x-complaint-severity="0">{{ 'Anzeige zurückziehen'|trans({},'game') }}</button>{% endif %}
                {% if complaint is not null and complaint.severity == 1 %}<button x-complaint-severity="2">{{ 'Anzeige: Todesstrafe fordern'|trans({},'game') }}</button>{% endif %}
                {% if complaint is not null and complaint.severity == 2 %}<button x-complaint-severity="1">{{ 'Anzeige: Verbannung fordern'|trans({},'game') }}</button>{% endif %}
            {% endif %}
            {% if citizen.home.holdsBody %}
                <button x-disposal-id="1">{{ 'Leiche aus der Stadt ziehen'|trans({},'') }} (<div class="ap">1</div>)</button>
                <button x-disposal-id="2"><img alt="" src="{{ asset('build/images/item/item_water.gif') }}" />{{ 'Leiche mit Wasser übergießen'|trans({},'') }}</button>
                {% if has_cremato %}
                    <button x-disposal-id="3"><img alt="" src="{{ asset('build/images/item/item_hmeat.gif') }}" />{{ 'Leiche grillen'|trans({},'') }}</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="padded cell rw-6">
            {% if (citizen.alive) %}
                {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'items': rucksack.items} %}
                    {% block class %}rucksack{% endblock %}
                    {% block title %}{% trans from 'game' %}Dein Rucksack{% endtrans %}{% endblock %}
                {% endembed %}
            {% endif %}

            {% embed "ajax/game/inventory.html.twig" with {'size': chest_size, 'items': chest.items} %}
                {% block class %}chest{% endblock %}
                {% block title %}{{ '%citizen%s Truhe'|trans({'%citizen%': citizen.user.username}, 'game') }}{% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <h5>{{ '%citizen%s Register'|trans({'%citizen%': citizen.user.username},'game') }}</h5>
        <div class="cell rw-12">
            {% embed "ajax/game/log.html.twig" with {'log_content': log, 'log_source': path('town_visit_log_controller', {'id': citizen.id}) } %}
            {% endembed %}
        </div>
    </div>

    <br />

    <div class="row">
        <div class="cell ro-8 rw-4 ro-md-7 rw-md-5"><button x-ajax-href="{{ path('town_citizens') }}">{{ 'Schließen'|trans({},'global') }}</button></div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/log.js.twig" %}{% endembed %};
        {% embed "scripts/inventory.js.twig" %}{% endembed %};

        handleItems(
            document.querySelectorAll('.rucksack>.item:not(.locked)[x-item-id]'),
            '{{ path('town_visit_item_controller', {id: citizen.id}) }}',
            'down', '{{ path('town_visit', {id: citizen.id}) }}',
            '{{ 'Bist du sicher, dass du hier einbrechen und einen Gegenstand hinterlassen willst?'|trans({},'game') }}'
        );

        handleItems(
            document.querySelectorAll('.chest>.item:not(.locked)[x-item-id]'),
            '{{ path('town_visit_item_controller', {id: citizen.id}) }}',
            'up', '{{ path('town_visit', {id: citizen.id}) }}',
            '{{ 'Bist du sicher, dass du hier einbrechen und einen Gegenstand stehlen willst?'|trans({},'game') }}'
        );

        {% if citizen.alive %}
        const complainButtons = document.querySelectorAll('[x-complaint-severity]');
        for (let i = 0; i < complainButtons.length; i++)
            complainButtons[i].addEventListener('click', function() {
                $.ajax.easySend( '{{ path('town_visit_complain_controller', {id: citizen.id}) }}', {severity: parseInt(complainButtons[i].getAttribute('x-complaint-severity'))},
                    function () {
                        $.ajax.load(null, '{{ path('town_visit', {id: citizen.id}) }}', true);
                    } );
            })
        {% endif %}

        {% if citizen.home.holdsBody %}
            const disposalButtons = document.querySelectorAll('[x-disposal-id]');
            for (let i = 0; i < disposalButtons.length; i++)
                disposalButtons[i].addEventListener('click', function() {
                    $.ajax.easySend( '{{ path('town_visit_dispose_controller', {id: citizen.id}) }}', {action: parseInt(disposalButtons[i].getAttribute('x-disposal-id'))},
                        function () {
                            $.ajax.load(null, '{{ path('town_visit', {id: citizen.id}) }}', true);
                        } );
                })
        {% endif %}
    </script>
{% endblock %}