{% extends "ajax/game/town/town.html.twig" %}
{% block content %}
    <div class="row">
        <div class="padded cell rw-6 rw-md-12">
            <h5>{% trans from 'game' %}Meine Spezialaktionen{% endtrans %}</h5>

            <h5>{% trans from 'game' %}Meine Aktionen{% endtrans %}</h5>
        </div>

        <div class="padded cell rw-6 rw-md-12">
            {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'fake_items': [], 'items': rucksack.items} %}
                {% block class %}rucksack{% endblock %}
                {% block title %}{% trans from 'game' %}Rucksack{% endtrans %}{% endblock %}
            {% endembed %}

            <button id="drop-all-button" {% if rucksack.items|length == 0 %}disabled{% endif %}>{% trans from 'game' %}Rucksack ausleeren{% endtrans %}</button>

            {% embed "ajax/game/inventory.html.twig" with {'size': chest_size, 'fake_items': [], 'items': chest.items} %}
                {% block class %}chest{% endblock %}
                {% block title %}{% trans from 'game' %}Truhe{% endtrans %}{% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/inventory.js.twig" %}{% endembed %}

        handleItems(
            document.querySelectorAll('.rucksack>.item:not(.locked)'),
            '{{ path('town_house_item_controller') }}',
            'down', '{{ path('town_house') }}'
        );

        handleItems(
            document.querySelectorAll('#drop-all-button'),
            '{{ path('town_house_item_controller') }}',
            'down-all', '{{ path('town_house') }}'
        );

        handleItems(
            document.querySelectorAll('.chest>.item:not(.locked)'),
            '{{ path('town_house_item_controller') }}',
            'up', '{{ path('town_house') }}'
        );
    </script>
{% endblock %}