{% extends "ajax/game/town/town.html.twig" %}
{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-visit time-{{ hour }} {% if hour < 7 or hour > 18 %}night{% endif %}"></div>
    </div>

    {# @var \App\Entity\Citizen owner #}
    {# @var \App\Structures\HomeDefenseSummary def #}
    <h5>
        <b>{{ owner.user.username }}</b>
        ({% if owner.alive %}
            <img alt="{{ owner.profession.label|trans({},'game') }}" src="{{ asset('build/images/professions/' ~ owner.profession.icon ~ '.gif') }}" />
        {% else %}
            <img alt="{{ 'Tot'|trans({},'game') }}" src="{{ asset('build/images/professions/death.gif') }}" />
        {% endif %})
    </h5>

    <div class="lightbox">
        <div class="row">
            <div class="cell rw-3"><span class="highlight">{{ 'Haus'|trans({},'game') }}:</span></div>
            <div class="cell rw-9"><img alt="" src="{{ asset('build/images/home/' ~ owner.home.prototype.icon ~ '.gif') }}"> {{ owner.home.prototype.label|trans({},'buildings') }}</div>
        </div>
        {% if owner.alive %}
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Verteidigung'|trans({},'game') }} :</span></div>
                <div class="cell rw-9"><img alt="" src="{{ asset('build/images/def.gif') }}"> {{ def.sum }}</div>
            </div>
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Dekoration'|trans({},'game') }} :</span></div>
                <div class="cell rw-9"><img alt="" src="{{ asset('build/images/deco.gif') }}"> {{ deco }}</div>
            </div>
        {% else %}
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Todesursache'|trans({},'game') }} :</span></div>
                <div class="cell rw-9">{{ owner.causeOfDeath.label|trans({},'game') }}</div>
            </div>
            <div class="row">
                <div class="cell rw-3"><span class="highlight">{{ 'Letzte Worte:'|trans({},'game') }}</span></div>
                <div class="cell rw-9"> {{ owner.lastWords }}</div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="padded cell rw-6">
            <h5>{% trans from 'game' %}Meine Spezialaktionen{% endtrans %}</h5>
            {% if owner.alive %}
                {# @var complaint \App\Entity\Complaint|null #}
                {% if complaints > 0 %}
                    <div class="note">
                        {{ '%citizen% hat bereits %num% Anzeige(n).'|trans({'%citizen%': owner.user.username, '%num%': '<b>' ~ complaints ~ '</b>'}, 'game')|raw }}<br />
                        {% set names = ['', 'Verbannung'|trans({},'game'), 'Todesstrafe'|trans({},'game') ] %}
                        {% if complaint is not null and complaint.severity > 0 %}
                            {{ 'Eine davon stammt von dir. Du hast %punishment% gefordert.'|trans({'%punishment%': '<b>' ~ names[complaint.severity] ~ '</b>'}, 'game')|raw }}<br />
                        {% endif %}
                    </div>
                {% endif %}
                {% if complaint is null or complaint.severity == 0 %}<button x-complaint-severity="1">{{ 'Anzeige erstatten'|trans({},'game') }}</button>{% endif %}
                {% if complaint is not null and complaint.severity > 0 %}<button x-complaint-severity="0">{{ 'Anzeige zurückziehen'|trans({},'game') }}</button>{% endif %}
                {% if complaint is not null and complaint.severity == 1 %}<button x-complaint-severity="2">{{ 'Anzeige: Todesstrafe fordern'|trans({},'game') }}</button>{% endif %}
                {% if complaint is not null and complaint.severity == 2 %}<button x-complaint-severity="1">{{ 'Anzeige: Verbannung fordern'|trans({},'game') }}</button>{% endif %}
            {% endif %}
            {% if owner.home.holdsBody %}
                <button x-disposal-id="1">{{ 'Leiche aus der Stadt ziehen'|trans({},'game') }} (<div class="ap">1</div>)</button>
                <button x-disposal-id="2"><img alt="" src="{{ asset('build/images/item/item_water.gif') }}" />{{ 'Leiche mit Wasser übergießen'|trans({},'game') }}</button>
                {% if has_cremato %}
                    <button x-disposal-id="3"><img alt="" src="{{ asset('build/images/item/item_hmeat.gif') }}" />{{ 'Leiche grillen'|trans({},'game') }}</button>
                {% endif %}
            {% endif %}
            {% if owner.alive %}
            <h5>{% trans from 'game' %}Gemeinschaft{% endtrans %}</h5>
            <ul class='gossips'>
                {% if owner.lastActionTimestamp == 0 %}
                <li>{{'Dieser Bürger wurde noch nie gesehen...'|trans({}, 'game')}}</li>
                {% else %}
                <li>{{'Der Bürger wurde zuletzt %time% gesehen.'|trans({'%time%': lastActionText}, 'game')}}</li>
                {% endif %}
                {% if owner.specificActionCounterValue(constant('App\\Entity\\ActionCounter::ActionTypeWell')) > 0 %}<li>{{"Dieser Bürger hat %ration% Wasserration(en) aus dem Brunnen genommen."|trans({'%ration%': owner.specificActionCounterValue(constant('App\\Entity\\ActionCounter::ActionTypeWell'))}, 'game')}}</li>{% endif %}
                {% if is_injured %}<li>{{'Dieser Bürger ist ernsthaft verletzt.'|trans({}, 'game')}}</li>{% endif %}
                {% if is_infected %}<li>{{'Dieser Bürger hat eventuell schon seit einer Weile Blut gehustet... Einige reden von einer Infektion.'|trans({}, 'game')}}</li>{% endif %}
                {% if is_thirsty %}<li>{{'Dieser Bürger hat eventuell heute Morgen überall nach Wasser gebettelt haben... Ob er durstig ist?'|trans({}, 'game')}}</li>{% endif %}
                {% if is_addicted %}<li>{{'Dieser Bürger is eventuell süchtig... Wir nennen sein Verhalten aggressiv, manchmal sogar assozial...'|trans({}, 'game')}}</li>{% endif %}
                {% if is_terrorised %}<li>{{'Dieser Bürger konnte nicht schlafen und redete wirres Zeug, von Tod, sprechenden Schatten und Stimmen in seinem Kopf...'|trans({}, 'game')}}</li>{% endif %}
                {% if not has_job %}<li>{{'Dieser Bürger ist nicht in der Lage, einen Beruf zu wählen. Wir sind noch lange nicht über den Berg, das kann ich euch sagen!'|trans({}, 'game')}}</li>{% endif %}
                {% if is_admin %}<li>{{'Dieser Bürger könnte jemand sehr Wichtiges sein. Vielleicht einer der Erschaffer?'|trans({}, 'game')}}</li>{% endif %}
            </ul>
        {% endif %}
        </div>
        <div class="padded cell rw-6 citizen-chest">
            <h5>{{ '%citizen%s Truhe'|trans({'%citizen%': owner.user.username}, 'game') }}</h5>
            <p>{{ 'Wenn Sie aus dem Fenster schauen, können Sie die folgenden Dinge im Haus sehen:'|trans({},'game') }}</p>
            {% embed "ajax/game/inventory.html.twig" with {'size': chest_size, 'items': chest.items} %}
                {% block class %}chest{% endblock %}
                {% block title %}{% endblock %}
            {% endembed %}
            {% if (citizen.alive) %}
                {% embed "ajax/game/inventory.html.twig" with {'size': rucksack_size, 'items': rucksack.items} %}
                    {% block class %}rucksack{% endblock %}
                    {% block title %}{% trans from 'game' %}Mein Rucksack{% endtrans %}{% endblock %}
                {% endembed %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <h5>{{ '%citizen%s Register'|trans({'%citizen%': owner.user.username},'game') }}</h5>
        <div class="cell rw-12">
            {% embed "ajax/game/log.html.twig" with {'log_content': log, 'log_source': path('town_visit_log_controller', {'id': owner.id}) } %}
            {% endembed %}
        </div>
    </div>

    <br />

    <div class="row">
        <div class="cell rw-14">
            {% if is_granted('ROLE_ADMIN') %}
                {% if owner.alive %}
                        <button x-admin-action="1">{{ 'Headshot'|trans({},'game') }} <div class="kill"></div></button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="cell ro-8 rw-4 ro-md-7 rw-md-5"><button x-ajax-href="{{ path('town_citizens') }}">{{ 'Schließen'|trans({},'global') }}</button></div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% embed "scripts/log.js.twig" %}{% endembed %};
        {% embed "scripts/inventory.js.twig" %}{% endembed %};

        handleItems(
            document.querySelectorAll('.rucksack>.item:not(.locked)[x-item-id]'),
            '{{ path('town_visit_item_controller', {id: owner.id}) }}',
            'down', '{{ path('town_visit', {id: owner.id}) }}',
            '{{ 'Bist du sicher, dass du hier einbrechen und einen Gegenstand hinterlassen willst?'|trans({},'game') }}'
        );

        handleItems(
            document.querySelectorAll('.chest>.item:not(.locked)[x-item-id]'),
            '{{ path('town_visit_item_controller', {id: owner.id}) }}',
            'up', '{{ path('town_visit', {id: owner.id}) }}',
            '{{ 'Bist du sicher, dass du hier einbrechen und einen Gegenstand stehlen willst?'|trans({},'game') }}'
        );

        {% if owner.alive %}
        const complainButtons = document.querySelectorAll('[x-complaint-severity]');
        for (let i = 0; i < complainButtons.length; i++)
            complainButtons[i].addEventListener('click', function() {
                $.ajax.easySend( '{{ path('town_visit_complain_controller', {id: owner.id}) }}', {severity: parseInt(complainButtons[i].getAttribute('x-complaint-severity'))},
                    function () {
                        $.ajax.load(null, '{{ path('town_visit', {id: owner.id}) }}', true);
                    } );
            })
            {% if is_granted('ROLE_ADMIN') %}
                const adminButtons = document.querySelectorAll('[x-admin-action]');
                for (let i = 0; i < adminButtons.length; i++)
                    adminButtons[i].addEventListener('click', function() {
                    if (confirm('{{ 'Diesen Bürger töten?'|trans({},'admin') }}'))
                        $.ajax.easySend( '{{ path('town_visit_headshot', {id: owner.user.id}) }}', {},
                            function () {
                                $.ajax.load(null, '{{ path('town_visit', {id: owner.id}) }}', true);
                            } );
                })
            {% endif %}
        {% endif %}

        {% if owner.home.holdsBody %}
            const disposalButtons = document.querySelectorAll('[x-disposal-id]');
            for (let i = 0; i < disposalButtons.length; i++)
                disposalButtons[i].addEventListener('click', function() {
                    $.ajax.easySend( '{{ path('town_visit_dispose_controller', {id: owner.id}) }}', {action: parseInt(disposalButtons[i].getAttribute('x-disposal-id'))},
                        function () {
                            $.ajax.load(null, '{{ path('town_visit', {id: owner.id}) }}', true);
                        } );
                })
        {% endif %}
    </script>
{% endblock %}