{% extends "ajax/game/game.html.twig" %}
{% block ajax %}
    {{ parent() }}
    {# @var \App\Entity\CitizenHome home #}
    <div class="row">
        <div class="padded-small cell rw-4 rw-sm-12">
            {% if chaos %}
	           <div class="header-menu chaos"><a class="help-button"><div class="tooltip help">{{ '<strong>Die Stadt versinkt im Chaos!</strong></p>Es gilt kein Gesetz mehr... Ihr müsst jetzt alle zusammenhalten und mit den Übriggebliebenen auskommen!<p><em>... Oder euch gegenseitig abschlachten, je nachdem.</em>'|trans({},'global')|raw }}</div>{{ 'Hilfe'|trans({},'global') }}</a></div>
            {% elseif town.insurrectionProgress >= 100 %}
	           <div class="header-menu insurrect"></div>
            {% endif %}
            {% if citizen.banished %}
                <div class="banished-info">
                    <img alt="" src="{{ asset('build/images/icons/banished.gif') }}" /> {{ 'Du wurdest verbannt!'|trans({}, 'game') }} <a class="help-button"><div class="tooltip help">{{ 'Als <strong>Ausgestoßener</strong> stehen dir die Gemeinschaftsaktionen der Stadt nicht länger zur Verfügung: Bank, Baustelle, Tor, etc...'|trans({},'global')|raw }}</div>{{ 'Hilfe'|trans({},'global') }}</a>
                </div>
                {% if has_insurrection_part %}
                    <div class="banished-info">
                        <em>{{ 'Status:'|trans({}, 'game') }}</em>
                    {% if town.insurrectionProgress >= 0 and town.insurrectionProgress < 20 %}
                        {{ 'Eine Revolte liegt in weiter Ferne...'|trans({}, 'game') }}
                    {% elseif town.insurrectionProgress >= 20 and town.insurrectionProgress < 40 %}
                        {{ 'Erste Spannungen bilden sich.'|trans({}, 'game') }}
                    {% elseif town.insurrectionProgress >= 40 and town.insurrectionProgress < 60 %}
                        {{ 'Wir machen Fortschritte.'|trans({}, 'game') }}
                    {% elseif town.insurrectionProgress >= 60 and town.insurrectionProgress < 80 %}
                        {{ 'Das Ende ist nah.'|trans({}, 'game') }}
                    {% elseif town.insurrectionProgress >= 80 %}
                        {{ 'Die Revolte steht bevor!'|trans({}, 'game') }}
                    {% endif %}
                    </div>
                {% elseif can_do_insurrection %}
                    <button id="do_insurrection"><img alt="" src="{{ asset('build/images/actions/insurrect.gif') }}" /> {{'Auf den Aufstand hinarbeiten'|trans({}, 'game')}}</button>
                {% endif %}
            {% endif %}
            {% set hour = "now"|date("G") %}
            <div class="row town-menu {% if town.isNight %}night{% endif %}">
                <div class="padded-small cell rw-12 town-overview {% if menu_section == '' %}selected{% endif %}">
                    <div x-ajax-href="{{ url('town_dashboard') }}"><img src="{{asset('build/images/icons/small_view.gif')}}" alt =""/>{% trans from 'game' %}Übersicht{% endtrans %}</div>
                </div>
                <div x-ajax-href="{{ path('town_house', {tab: 'dash', subtab: 'received'}) }}" class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'house' %}selected{% endif %} town-menu-house">
                    <div></div>
                    <div class="hide-sm">
                        <img alt="{{ home.prototype.level }}" src="{{ asset('build/images/home/' ~ home.prototype.icon ~ '.gif') }}" />{% trans from 'game' %}Mein Haus{% endtrans %} {% if new_message %}<img src="{{ asset('build/images/icons/anim_icon_mail.gif') }}" style="vertical-align: baseline;" /> {% endif %} 
                    </div>
                </div>
                <div x-ajax-href="{{ path('town_well') }}" class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'well' %}selected{% endif %} town-menu-well">
                    <div></div>
                    <div class="hide-sm">
                        {% trans from 'game' %}Brunnen{% endtrans %}
                    </div>
                </div>
                <div x-ajax-href="{{ path('town_bank') }}" class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'bank' %}selected{% endif %} town-menu-bank">
                    <div></div>
                    <div class="hide-sm">
                        {% trans from 'game' %}Bank{% endtrans %}
                    </div>
                </div>
                <div x-ajax-href="{{ path('town_citizens') }}" class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'citizens' %}selected{% endif %} town-menu-citizens">
                    <div></div>
                    <div class="hide-sm">
                        {% trans from 'game' %}Bürger{% endtrans %}
                    </div>
                </div>
                <div x-ajax-href="{{ path('town_constructions') }}" class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'constructions' %}selected{% endif %} town-menu-construct">
                    <div></div>
                    <div class="hide-sm">
                        {% trans from 'game' %}Konstruktionen{% endtrans %}
                    </div>
                </div>
                <div x-ajax-href="{{ path('town_door') }}" class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'door' %}selected{% endif %} town-menu-door">
                    <div></div>
                    <div class="hide-sm">
                        {% trans from 'game' %}Stadttor{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell padded-small rw-12 town-addons">
                {% for name, addon in addons|sort((a, b) => a[2] <=> b[2]) %}
                    <div x-ajax-href="{{ path(addon[1]) }}" class="town-addon {% if menu_section == name %}selected{% endif %} town-addon-{{ name }}">
                        <div></div>
                        <span>{{ addon[0]|trans({},'game') }}</span>
                    </div>
                {% endfor %}
                {% for i in 0..5 %}
                    <div class="town-addon town-addon-empty">
                        <div></div>
                        <span></span>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="row town-buildings hide-md hide-sm">
                <ul>
                {% for building in builtbuildings|sort((a, b) => a.prototype.orderBy <=> b.prototype.orderBy) %}
                    <li class="cell padded-small rw-12">
                        <img alt="" src="{{ asset('build/images/building/' ~ building.prototype.icon ~ '.gif' ) }}" />
                        {{ building.prototype.label|trans({},'buildings') }}
                        {% if building.hp != building.prototype.hp %}
                            <span class="float-right">
                                <div class="life-bar">
                                    <div class="life-progress {% if building.hp / building.prototype.hp < 0.15 %}life-critical{% elseif building.hp / building.prototype.hp < 0.50 %}life-warning{% endif %}" style="width: {{building.hp / building.prototype.hp * 100}}%;"></div>
                                </div>
                            </span>
                        {% endif %}
                        <br />
                        {% if building.defense > 0 %}<em>+ {{building.defense + building.defenseBonus}} {% trans from "buildings" %}Verteidigung{% endtrans %} </em>{% endif %}
                        {% if building.prototype.maxLevel > 0 and building.level > 0 %}<em>{% trans with {'%lv%': building.level} from 'game' %}Level %lv%{% endtrans %}</em>{% endif %}
                        <div class='tooltip normal'>
                            {{ building.prototype.description|trans({}, 'buildings') }}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="padded cell rw-8 rw-sm-12">
            {% block content %}
            {% endblock %}
        </div>
        <div class="cell rw-12 quote">
            <div class="quote-foot">
                <div class="quote-head">
                    « {{ quote.content }} »
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        {% if can_do_insurrection %}
        let insurrectbtn = document.getElementById('do_insurrection');
        if(insurrectbtn) insurrectbtn.addEventListener('click', function(){
            if (confirm('{{ 'Bestätigen?'|trans({},'global') }}'))
                $.ajax.easySend( '{{ path('town_insurrect') }}', {},
                    function () {
                        $.ajax.load(null, '{{ path('town_dashboard') }}', true);
                    } );
        });
        {% endif %}
    </script>
{% endblock %}
