{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row">
        <div class="padded-small cell rw-4 rw-sm-12">
            <div class="row">
                <div class="cell padded-small rw-12">
                    <button x-ajax-href="{{ url('town_dashboard') }}">{% trans from 'game' %}Gesamtansicht der Stadt{% endtrans %}</button>
                </div>
            </div>
            <div class="row town-menu">
                <div {% if menu_section != 'house' %}x-ajax-href="{{ path('town_house') }}"{% endif %} class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'house' %}selected{% endif %} town-menu-house"><div></div><div>{% trans from 'game' %}Mein Haus{% endtrans %}</div></div>
                <div {% if menu_section != 'well' %}x-ajax-href="{{ path('town_well') }}"{% endif %} class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'well' %}selected{% endif %} town-menu-well"><div></div><div>{% trans from 'game' %}Brunnen{% endtrans %}</div></div>
                <div {% if menu_section != 'bank' %}x-ajax-href="{{ path('town_bank') }}"{% endif %} class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'bank' %}selected{% endif %} town-menu-bank"><div></div><div>{% trans from 'game' %}Bank{% endtrans %}</div></div>
                <div {% if menu_section != 'citizens' %}x-ajax-href="{{ path('town_citizens') }}"{% endif %} class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'citizens' %}selected{% endif %} town-menu-citizens"><div></div><div>{% trans from 'game' %}Bürger{% endtrans %}</div></div>
                <div {% if menu_section != 'constructions' %}x-ajax-href="{{ path('town_constructions') }}"{% endif %} class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'constructions' %}selected{% endif %} town-menu-construct"><div></div><div>{% trans from 'game' %}Konstruktionen{% endtrans %}</div></div>
                <div {% if menu_section != 'door' %}x-ajax-href="{{ path('town_door') }}"{% endif %} class="cell padded-small rw-6 rw-lg-12 rw-sm-6 {% if menu_section == 'door' %}selected{% endif %} town-menu-door"><div></div><div>{% trans from 'game' %}Stadttor{% endtrans %}</div></div>
            </div>
        </div>
        <div class="padded cell rw-8 rw-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
    </script>
{% endblock %}