{% extends "ajax/game/town/town.html.twig" %}
{%block title %}{{'Werkstatt'|trans({}, 'game')|raw }}{% endblock %}

{% macro workshop_list(source,recipes,result,disabled,need_ap,hint,data) %}

    {% set has_recipes = false %}
    {% for recipe in recipes %}
        {% if source[recipe.id] > 0 %}
            {% set has_recipes = true %}
        {% endif %}
    {% endfor %}

    {% if has_recipes %}
        <div class="note note-critical">
            <img src="{{ asset('build/images/icons/small_warning.gif') }}" alt="" />
            {% if hint is empty %}
                {{ 'Achte darauf, keine <strong>nutzlosen Ressourcen</strong> herzustellen! Wenn du dir nicht sicher bist, sieh in dem <strong>Forum</strong> hier unten nach...'|trans({},'game')|raw }}
            {% else %}
                {{ hint|raw }}
            {% endif %}
        </div>

        <div class="row-table workshop">
            <div class="row-flex header bottom">
                <div class="padded cell rw-1 hide-mobile hide-lg">
                    {% trans from 'game' %}Vorrat{% endtrans %}
                </div>
                <div class="padded cell rw-1 hide-desktop">
                    {% trans from 'game' %}Vor.{% endtrans %}
                </div>
                <div class="padded cell rw-7 hide-desktop hide-lg center">
                    {% trans from 'game' %}Umwandlung{% endtrans %}
                </div>
                <div class="padded cell rw-3 hide-sm hide-md">
                    {% trans from 'game' %}Material{% endtrans %}
                </div>
                <div class="padded cell rw-4 hide-sm hide-md">
                    {% trans from 'game' %}Hergestellter Gegenstand{% endtrans %}
                </div>
                <div class="padded cell hide-mobile hide-lg rw-1">
                    {% trans from 'game' %}Anzahl{% endtrans %}
                </div>
                <div class="padded cell rw-2 rw-lg-1 hide-desktop">
                    {% trans from 'game' %}Anz.{% endtrans %}
                </div>
                <div class="padded cell rw-3 rw-md-2 rw-sm-2 right">
                    <span class="hide-md hide-sm">{% trans from 'game' %}Handeln{% endtrans %}</span> (<div class="ap">{{ need_ap }}</div>)
                </div>
            </div>
            {% for recipe in recipes %}
                {# @var recipe \App\Entity\Recipe #}
                {% if source[recipe.id] > 0 %}
                    <div class="row-flex recipe">
                        <div class="padded cell rw-2 grow-0 shrink-0">
                            <span class="small">{{ source[recipe.id] }}</span>
                        </div>
                        <div class="padded cell rw-1 grow-0 shrink-0">
                            {% for entry in recipe.source.entries %}
                                {# @var entry \App\Entity\ItemGroupEntry #}
                                <span>
                                    {% for c in 1..entry.chance %}
                                        <hordes-standalone-item data-item="{{ entry.prototype.id }}"></hordes-standalone-item>
                                    {% endfor %}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="padded cell rw-1 grow-0 shrink-0 center">
                            {% if recipe.type == constant('\\App\\Entity\\Recipe::WorkshopTypeShamanSpecific') %}
                                <img src="{{ asset('build/images/professions/shaman.gif') }}" alt="" />
                            {% elseif recipe.type == constant('\\App\\Entity\\Recipe::WorkshopTypeTechSpecific') %}
                                <img src="{{ asset('build/images/professions/tech.gif') }}" alt="" />
                            {% endif %}
                            <img src="{{ asset('build/images/icons/small_move.gif') }}" alt="->" />
                        </div>
                        <div class="padded cell rw-4 grow-0 shrink-0 left" style="overflow: hidden">
                            {% if recipe.result.entries|length > 1 and not recipe.multiOut %}
                                <span class="small hide-desktop hide-lg">?</span>
                                <span class="small hide-md hide-sm" style="display: block; margin-top: 4px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{% trans from 'game' %}Zufälliger Gegenstand{% endtrans %}</span>
                            {% else %}
                                {% for entry in recipe.result.entries %}
                                    <span class="hide-desktop hide-lg"><hordes-standalone-item data-item="{{ entry.prototype.id }}"></hordes-standalone-item></span>
                                    <span class="icon hide-md hide-sm" style="display: block; margin-top: 4px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                                        <hordes-standalone-item data-item="{{ entry.prototype.id }}"></hordes-standalone-item>
                                        {{ entry.prototype.label|trans({},'items') }}
                                        {% if recipe.multiOut and entry.chance > 1 %}
                                            &nbsp;×&nbsp;{{ entry.chance }}
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="padded cell rw-1 grow-0 shrink-0">
                            {% if recipe.result.entries|length == 1 %}
                                <span class="small">{{ result[recipe.id] }}</span>
                            {% endif %}
                        </div>
                        <div class="padded cell rw-3 hide-desktop right">
                            <button x-recipe-id="{{ recipe.id }}" class="inline small" {{ {'disabled': disabled}|attributes }}>
                                <img src="{% if recipe.action == "Zerlegen" %}{{ asset('build/images/item/item_classicKey.gif') }}{% elseif recipe.action == "Öffnen" %}{{ asset('build/images/item/item_can_opener.gif') }}{% else %}{{ asset('build/images/icons/small_refine.gif') }}{% endif %}" alt="" />
                                <span class="hide-lg hide-md hide-sm">
                                    {{ recipe.action|trans({},'items') }}
                                    {% if data.individualRecipePenalty( recipe ) > 0 %}
                                        <div class="inline">({{ data.individualRecipePenalty( recipe ) + need_ap }}<div class="ap"></div>)</div>
                                    {% endif %}
                                </span>
                            </button>
                        </div>
                        <div class="padded cell rw-3 hide-mobile">
                            <button x-recipe-id="{{ recipe.id }}" {{ {'disabled': disabled}|attributes }}>
                                <img src="{% if recipe.action == "Zerlegen" %}{{ asset('build/images/item/item_classicKey.gif') }}{% elseif recipe.action == "Öffnen" %}{{ asset('build/images/item/item_can_opener.gif') }}{% else %}{{ asset('build/images/icons/small_refine.gif') }}{% endif %}" alt="" />
                                <span class="hide-lg hide-md hide-sm">
                                    {{ recipe.action|trans({},'items') }}
                                    {% if data.individualRecipePenalty( recipe ) > 0 %}
                                        <div class="inline">({{ data.individualRecipePenalty( recipe ) + need_ap }}<div class="ap"></div>)</div>
                                    {% endif %}
                                </span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <br />
        <div class="row">
            <div class="cell rw-12">
                <div class="note note-lightest">{{ 'Die Bank enthält zur Zeit keine Gegenstände, die bearbeitet werden können...'|trans({},'game') }}</div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block content %}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-workshop time-{{ hour }} {% if conf.isNightTime %}night{% endif %}"></div>
    </div>

    <div class="help">
        {% trans from 'game' %}
            In der Werkstatt können Materialien zu brauchbaren Hilfsmitteln verarbeitet werden, die für bestimmte Gebäude und Konstruktionen in der Stadt notwendig sind.
        {% endtrans %}<br />
        <i class="strong">
            {% trans from 'game' %}
                Alle zu bearbeitenden Gegenstände müssen direkt in der Bank deponiert werden.
            {% endtrans %}
            {% trans with {'{ap}': '<div class="ap">' ~ need_ap ~ '</div>'} from 'game' %}
                Jede Verarbeitung kostet {ap} (manche Gegenstände und Konstruktionen können diese Verarbeitungskosten senken).
            {% endtrans %}
            {% if saw or manu %}
                <p><b>
                    {% if saw  %}{% trans from 'game' %}Du trägst eine Säge bei dir.{% endtrans %}{% endif %}
                    {% if manu %}{% trans from 'game' %}Die Stadt verfügt über eine Manufaktur.{% endtrans %}{% endif %}
                </b></p>
                <p><b></b></p>
            {% endif %}
            {{ hook('WorkShopTech') }}
        </i>
    </div>

    {% if banished %}
        <div class="note note-warning">
            {% trans from 'game' %}
                Du wurdest verbannt und kannst daher nicht länger in der Werkstatt arbeiten.
            {% endtrans %}
        </div>
    {% endif %}

    {% if sections|length > 1 %}
        <ul class="workshop-tabs tabs plain" x-tab-group="workshops" x-tab-control="">
            {% for type, section in sections %}
                <li class="tab" x-tab-id="section_{{ type }}">
                    <div class="tab-link">
                        <span>{{ section ? section : 'Werkstatt'|trans({},'buildings') }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% for type, section in sections %}
            <div x-tab-group="workshops" x-tab-id="section_{{ type }}" x-tab-target="">
                {{ _self.workshop_list( source, recipes|filter(r => r.type == type), result, type in disabled_types, need_ap + penalty[type], hints[type], recipes_data ) }}
            </div>
        {% endfor %}
    {% else %}
        {% for type, section in sections %}
            {{ _self.workshop_list( source, recipes|filter(r => r.type == type), result, type in disabled_types, need_ap + penalty[type], hints[type], recipes_data ) }}
        {% endfor %}
    {% endif %}

    <h5>{{ 'Diskussionen im Werkstatt-Forum'|trans({},'game') }}</h5>
    <div class="forum-preview-wrapper forum-preview-wrapper-workshop">
        <div class="forum-preview-container">
            <div id="forum-content">
                <div class="center"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Lade Forum...'|trans({},'game') }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <h5>{{ 'Werkstatt-Register'|trans({},'game') }} <a class="float-right link" x-ajax-href="{{ path("game_newspaper") }}">{{ 'Das Gesamtregister ansehen'|trans({}, 'game') }}<div class="tooltip normal">{{ 'Dieser Link bringt dich zum <strong>Großen Register</strong>. Darin werden alle wichtigen Handlungen und Aktionen der Stadtbürger gespeichert...'|trans({}, 'game')|raw }}</div></a></h5>
        <div class="cell rw-12">
            <hordes-log id="workshop-log" data-react-mount="workshop-log" data-day="{{ day }}" data-etag="{{ date().timestamp }}" data-category="{{ constant('App\\Entity\\LogEntryTemplate::TypeWorkshop') }}" data-domain="town"></hordes-log>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        let buttons = document.querySelectorAll('[x-recipe-id]');
        for (let i = 0; i < buttons.length; i++)
            buttons[i].addEventListener('click', function() {
                const id = this.getAttribute('x-recipe-id');
                $.ajax.easySend( '{{ path('town_workshop_do_controller') }}', {id: id},
                    function () {
                        $.ajax.load(null, '{{ path('town_workshop') }}', true);
                    } );
            });

        $.ajax.background().no_history().load( document.getElementById('forum-content'), '{{ path('forum_previewer_controller', {fid: town.forum.id, sem: constant('App\\Entity\\Thread::SEMANTIC_WORKSHOP') })|e('js') }}', false, {}, function() {
            let container = document.querySelector('.forum-posts');
            container.scrollTop = container.scrollHeight;
        } );
    </script>
{% endblock %}