{% extends "ajax/ajax_plain.html.twig" %}
{% block ajax_base %}
    {% set today = date() %}
    {% set yesterday = date('-1days') %}
    <ul class="pm-conversation-list">
        {% for entry in entries %}
            {% set endpoint_fetch  = null %}
            {% set endpoint_answer = null %}
            {% if entry.obj|instance_of('App\\Entity\\UserGroupAssociation') %}
                {% set endpoint_fetch  = path('pm_conv_group', {'id': entry.obj.association.id}) %}
                {% set endpoint_answer = path('pm_post_editor_controller', {'id': entry.obj.association.id}) %}
            {% endif %}

            <li x-title="{{ entry.title }}"
                class="{% if entry.closed %}closed{% endif %} {% if entry.system %}system{% endif %}"
                {% if endpoint_fetch is not null %}x-endpoint="{{ endpoint_fetch }}"{% endif %}
                {% if endpoint_answer is not null %}x-editor="{{ endpoint_answer }}"{% endif %}>
                <div class="pm-avatar-block">
                    {% if entry.system %}
                        <div class="avatarcrow"></div>
                    {% elseif entry.users|length > 1 %}
                        {% set i = 0 %}
                        {% for message_partner in entry.users %}
                            {% if i < 4 and message_partner != app.user and message_partner != entry.owner and message_partner.avatar %}
                                <div class="pm-avatar" style="background: url({{ path('app_web_avatar', {'uid': message_partner.id, 'name': message_partner.avatar.filename, 'ext': message_partner.avatar.format}) }}) center/cover"></div>
                                {% set i = i+1 %}
                            {% endif %}
                        {% endfor %}
                        {% if i < 4 %}
                            {% for message_partner in entry.users %}
                                {% if i < 4 and message_partner != app.user and message_partner != entry.owner and message_partner.avatar is empty %}
                                    <div class="pm-avatar row-flex v-center"><div class="cell rw-12 center">{{ message_partner.name|slice(0,2) }}</div></div>
                                    {% set i = i+1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if entry.owner is not empty and entry.owner != app.user %}
                            {% if entry.owner.avatar %}
                                <div class="pm-avatar owner" style="background: url({{ path('app_web_avatar', {'uid': entry.owner.id, 'name': entry.owner.avatar.filename, 'ext': entry.owner.avatar.format}) }}) center/cover"></div>
                            {% else %}
                                <div class="pm-avatar owner row-flex v-center"><div class="cell rw-12 center">{{ entry.owner.name|slice(0,2) }}</div></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                <b class="title">{{ entry.title }}</b>

                {% if entry.system %}
                    <span class="author crow-note">{{ 'Nachricht des Raben'|trans({},'global') }}</span>
                {% elseif entry.users|length > 2 and entry.owner != app.user %}
                    <span class="author group-desc"><b class="sender">{{ entry.owner.name }}</b>, {{ '%n% Teilnehmer'|trans({'%n%': entry.users|length},'global') }}</span>
                {% elseif entry.users|length > 2 %}
                    <span class="author group-desc">{{ '%n% Teilnehmer'|trans({'%n%': entry.users|length},'global') }}</span>
                {% elseif entry.users|length == 2 %}
                    {% for message_partner in entry.users %}
                        {% if message_partner != app.user %}
                            <span class="author group-desc"><b class="sender">{{ message_partner.name }}</b></span>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span class="author unknown">{{ 'Chat'|trans({},'global') }}</span>
                {% endif %}

                <span class="date">
                        {% if entry.date.format('Ymd') == today|date("Ymd") %}
                            {{ 'Heute um'|trans({},'global') }} {{ entry.date|format_datetime('none', 'short') }}
                        {% elseif entry.date.format('Ymd') == yesterday|date("Ymd") %}
                            {{ 'Gestern um'|trans({},'global') }} {{ entry.date|format_datetime('none', 'short') }}
                        {% else %}
                            {{ entry.date|format_datetime('medium', 'short') }}
                        {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block js %}
    <script>
        (function() {
            $.html.addEventListenerAll('ul.pm-conversation-list>li[x-title][x-endpoint]', 'click', function(e,elem) {
                let target = document.getElementById('pm-forum-content');
                target.innerText = '';
                document.getElementById('pm-forum-content-header').innerHTML = '<i class="fa fa-spin fa-circle-notch"></i> {{ 'Lade Unterhaltung...'|trans({},'global')|e('js') }}';

                $.html.forEach( 'ul.pm-conversation-list>li[x-title][x-endpoint]', ee => ee.classList.remove('selected') );
                elem.classList.add('selected');

                document.getElementById('pm-forum-actions-container').classList.add('hidden');
                document.getElementById('pm-forum-editor-container').classList.add('hidden');

                if (elem.getAttribute('x-editor')) $.html.forEach('[x-pm-action="answer-single"]', e => e.classList.remove('disabled'))
                else $.html.forEach('[x-pm-action="answer-single"]', e => e.classList.add('disabled'))

                let editor = document.getElementById('global-pm-forum-editor');
                if (editor) editor.innerText = '';

                $.ajax.background().load( target, elem.getAttribute('x-endpoint'), false, {}, function() {
                    document.getElementById('pm-forum-content-header').innerText = elem.getAttribute('x-title');
                    document.getElementById('pm-forum-actions-container').classList.remove('hidden');
                } );
            });
        })();
    </script>
    {{ parent() }}
{% endblock %}