{% extends "ajax/ajax_plain.html.twig" %}
{% block ajax_base %}
    <div class="row">
        <div class="padded cell rw-12">
            {% if inactive is not empty %}
                <h5>{{ 'Aktuelle Teilnehmer'|trans({},'global') }}</h5>
            {% endif %}
            <div class="row-flex wrap">
                {% for user in active %}
                    <div class="cell"><div class="pm-userbox">
                        {% include "ajax/soul/playeravatar.html.twig" with {
                            user: user, background: true, whitespace: false,
                            gpm: user.avatar is not empty, no_distortion: true,
                            classes: { empty: user.avatar is empty }
                        } only %}
                        {% if user == owning_user %}
                            <div class="pm-userbox-name"><i class="fa fa-crown"></i> <b>{{ user.name }}</b></div>
                        {% else %}
                            <div class="pm-userbox-name">{{ user.name }}</div>
                        {% endif %}
                        {% if owner %}
                            {% if user != app.user %}
                                <div class="pm-userbox-action" x-api-call="{{ path('pm_conv_group_user_kick', {gid: gid, uid: user.id}) }}">
                                    <img src="{{ asset('build/images/icons/small_remove.gif') }}" alt="(X)">
                                    <div class="tooltip"><b>{{ 'Spieler ausschließen'|trans({},'global') }}</b><br />
                                        {{ 'Ausgeschlossene Spieler können die vor ihrem Ausschluss geposteten Nachrichten in der Gruppe weiterhin lesen, erhalten allerdings keine neuen Nachrichten mehr und können auch nicht mehr antworten.'|trans({},'global') }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div></div>
                {% endfor %}
                {% if og %}
                    <div class="cell"><div class="pm-userbox">
                        <div class="pm-avatar" style="background: url({{ path('app_web_group_icon', { gid: og.usergroup.id, name: og.avatarName, ext: og.avatarExt }) }}) center/cover"></div>
                        <div class="pm-userbox-name">{{ og.usergroup.name }}</div>
                    </div></div>
                {% endif %}
                {% if owner and can_add %}
                    <div class="cell"><div class="pm-userbox"><div class="pm-avatar empty"></div><div class="pm-userbox-action" id="pm-add-user-button">
                        <img src="{{ asset('build/images/icons/small_more2.gif') }}" alt="[+]">
                        <div class="tooltip"><b>{{ 'Spieler hinzufügen'|trans({},'global') }}</b><br />
                            {{ 'Neu hinzugefügte Spieler erhalten Zugriff auf alle Nachrichten in der Gruppe.'|trans({},'global') }}
                        </div>
                    </div></div></div>
                {% endif %}
            </div>

            {% if owner %}
                <div id="pm-add-user-selector" class="hidden">
                    <h5>{{ 'Einen Empfänger hinzufügen'|trans({},'global') }}</h5>
                    <div>
                        <hordes-user-search id="pm-add-users-search"
                            data-title="{{ 'Gib den Pseudo des Bürgers ein.'|trans({},'soul') }}"
                            data-self="0" data-exclude="{{ active|merge(inactive)|map(a => a.id)|join(',') }}"
                        ></hordes-user-search>
                    </div>
                </div>
            {% endif %}

            {% if inactive is not empty %}
                <h5>{{ 'Ausgeschlossene Teilnehmer'|trans({},'global') }}</h5>
                <div class="row-flex wrap">
                    {% for user in inactive %}
                        <div class="cell"><div class="pm-userbox">
                                <div class="pm-avatar empty"></div>
                                <div class="pm-userbox-name">{{ user.name }}</div>
                                {% if owner %}
                                    <div class="pm-userbox-action" x-api-call="{{ path('pm_conv_group_user_restore', {gid: gid, uid: user.id}) }}">
                                        <img src="{{ asset('build/images/icons/small_more2.gif') }}" alt="[+]">
                                        <div class="tooltip"><b>{{ 'Ausschluss annulieren'|trans({},'global') }}</b><br />
                                            {{ 'Der Ausschluss des Spielers wird annuliert und er oder sie erhält wieder vollen Zugriff auf die Gruppe.'|trans({},'global') }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div></div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        (function() {
            $.html.addEventListenerAll('.pm-userbox-action[x-api-call]', 'click', function(e,elem) {
                let target = document.getElementById('pm-user-list-payload');
                if (!target) return;

                if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}')) return;

                target.innerHTML = '<div style="margin: 10px" class="small center"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Wird geladen...'|trans({},'global')|e('js') }}</div>';

                $.ajax.background().easySend(elem.getAttribute('x-api-call'), {}, () => {
                    $.ajax.background().load( target, '{{ path('pm_conv_group_users', {id: gid}) }}', false );
                });
            });

            {% if owner %}
                $.html.addEventListenerAll('#pm-add-user-button', 'click', function(e,elem) {
                    elem.classList.add('hidden');
                    document.getElementById('pm-add-user-selector').classList.remove('hidden');
                });

                document.getElementById('pm-add-users-search')?.addEventListener('hordes-user-search-callback', e => {
                    let target = document.getElementById('pm-user-list-payload');
                    if (!target) return;
                    target.innerHTML = '<div style="margin: 10px" class="small center"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Wird geladen...'|trans({},'global')|e('js') }}</div>';

                    $.ajax.background().easySend('{{ path('pm_conv_group_user_add', {gid: gid, uid: '0000000000000000000000'}) }}'.replace('0000000000000000000000', e.detail[0].id), {}, () => {
                        $.ajax.background().load(target, '{{ path('pm_conv_group_users', {id: gid}) }}', false);
                    });
                });
            {% endif %}
        })();
    </script>
{% endblock %}