{% extends "ajax/ajax_plain.html.twig" %}

{% block ajax_base %}

    <div class="row-flex stretch wrap">
        <div class="padded cell rw-5 max-height">

            <div class="row-flex vertical stretch full-height">

                <div class="cell rw-12 grow-0" style="padding-bottom: 10px;">
                    <div class="forum-control">
                        <div class="forum-header-bar">
                            <b><i class="fa fa-envelope"></i> {{ 'Aktionen'|trans({},'global') }}</b>
                        </div>
                        <div class="forum-button-bar">
                            {% if is_granted("ROLE_FORUM_BANNED") %}
                                <div class="forum-button-disabled" id="banned">{{ 'Neues Thema'|trans({},'global') }}</div>
                            {% else %}
                                <div x-pm-action="new-single" class="forum-button" id="new-thread-single-button"><span>{{ 'Neue Privatnachricht'|trans({},'global') }}</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="cell rw-12 grow-0">
                    <div class="forum-note" style="border-bottom: none;"><b><i class="fa fa-comments"></i> {{ 'Konversationen'|trans({},'global') }}</b></div>
                </div>

                <div class="cell rw-12 grow-1 relative">
                    <div class="forum-note max-height stretcher" style="border-top: none">
                        <div class="scroll-area" id="pm-conversation-list">
                            <div class="center small"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Lade Unterhaltungen ...'|trans({},'global') }}</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="padded cell rw-7 max-height" style="overflow: auto">

            <div class="row-flex vertical stretch full-height">

                <div id="pm-forum-editor-container" class="cell rw-12 hidden" style="padding-bottom: 10px">
                    <div class="forum-note">
                        <b>{{ 'Neue Nachricht'|trans({},'global') }}</b>
                        <div class="row">
                            <div class="cell rw-4 padded">
                                <label for="global-pm-forum-editor-title">{{ 'Titel'|trans({},'global') }}</label>
                            </div>
                            <div class="cell rw-8 padded">
                                <input type="text" id="global-pm-forum-editor-title" />
                            </div>
                        </div>
                        <div id="pm-user-selector" class="hidden">
                            <div class="row">
                                <div class="padded cell rw-4"><label for="pm-users-search">{{'Einen Empf채nger hinzuf체gen'|trans({}, "soul")}}</label></div>
                                <div class="padded cell rw-8">
                                    <div id="pm-users-list-container">
                                        <div><label><input type="text" id="pm-users-search" /></label><div class="tooltip help">{{ 'Gib den Pseudo des B체rgers ein.'|trans({},'soul') }}</div></div>
                                        <div id="pm-users-list"></div>
                                    </div>
                                </div>
                                <div class="padded cell rw-8 ro-4"><ul id="pm-selected-users"></ul></div>
                            </div>
                        </div>
                        <div id="global-pm-forum-editor"></div>
                        <div id="pm-forum-editor-anchor"></div>
                    </div>
                </div>

                <div id="pm-forum-content-container" class="cell rw-12">
                    <div class="forum-note">
                        <b id="pm-forum-content-header">{{ 'Bitte w채hle eine Konversation auf der linken Seite.'|trans({},'global') }}</b>

                        <div id="pm-forum-content">
                            <ul>{% for i in 1..100 %}<li>{{ i }}</li>{% endfor %}</ul>
                            <!-- CONVERSATION CONTAINER HERE -->
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}

{% macro pm_preview(user) %}
    <li class="own">
        {% if (user.avatar) %}
            <div class="pm-avatar" style="background: url({{ path('app_web_avatar', {'uid': user.id, 'name': user.avatar.filename, 'ext': user.avatar.format}) }}) center/cover"></div>
        {% else %}
            <div class="pm-avatar row-flex v-center"><div class="cell rw-12 center">{{ user.name|slice(0,2) }}</div></div>
        {% endif %}
        <div class="pm-message"><div id="pm-editor-preview"></div></div>
    </li>
{% endmacro %}

{% block js %}
    {{ parent() }}
    <script>
        (function() {

            $.ajax.background().load( document.getElementById('pm-conversation-list'), '{{ path('pm_list') }}' );

            let typingTimer, doneTypingInterval = 500;
            let searchBox = document.getElementById('pm-users-search');

            const userSearchHandler = function() {
                if (searchBox.value.length >= 3)
                    $.ajax.background().load(
                        document.getElementById('pm-users-list'),
                        '{{ path('users_fuzzyfind', {url: 'pm_manage_users'}) }}',
                        false,
                        {'name': searchBox.value},
                        function () {
                            $.html.addEventListenerAll('#pm-users-list>.users-list-entry>div', 'click', function (e,elem) {
                                if (!document.querySelector('#pm-selected-users>li[x-soul-id="' + elem.getAttribute('x-soul-id') + '"]')) {
                                    let li = document.createElement('li');
                                    li.setAttribute('x-soul-id', elem.getAttribute('x-soul-id'));
                                    li.innerHTML = '<b>' + elem.getAttribute('x-soul-name') + '</b><span><i class="fa fa-times-circle"></i></span></li>';
                                    document.getElementById('pm-selected-users').append(li)
                                    document.querySelector('#pm-selected-users>li[x-soul-id="' + elem.getAttribute('x-soul-id') + '"]>span').addEventListener('click', () => li.remove());
                                }

                                searchBox.value = '';
                            })
                        }
                    );
                else document.getElementById('pm-users-list').innerHTML = '';
            };

            const userSearchHandlerUp = function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(userSearchHandler, doneTypingInterval);
            };

            const userSearchHandlerDown = function () {
                clearTimeout(typingTimer);
            };

            if (searchBox) {
                searchBox.addEventListener('keyup', userSearchHandlerUp);
                searchBox.addEventListener('keydown', userSearchHandlerDown);
                searchBox.addEventListener('focus', () => userSearchHandler());
                searchBox.addEventListener('blur', () => setTimeout( () => document.getElementById('pm-users-list').innerHTML = '', 100));
            }

            $.html.addEventListenerAll('[x-pm-action="new-single"]', 'click', function () {
                document.getElementById('pm-forum-content-container').classList.add('hidden');
                document.getElementById('pm-forum-content-header').innerText = '{{ 'Vorschau'|trans({},'global')|e('js') }}'
                document.getElementById('pm-user-selector').classList.add('hidden');

                document.getElementById('pm-forum-content').innerHTML = '<ul>{{ _self.pm_preview(app.user)|e('js') }}</ul>';

                let editor = document.getElementById('global-pm-forum-editor');
                if (editor) $.ajax.no_history().load( editor, '{{ url('pm_thread_editor_controller') }}', false, {}, function() {
                    document.getElementById('pm-forum-editor-container').classList.remove('hidden');
                    document.getElementById('pm-forum-content-container').classList.remove('hidden');
                    document.getElementById('pm-user-selector').classList.remove('hidden');
                } );
            })
        })();


    </script>
{% endblock %}