{# @var posts \App\Entity\Post[] #}

{% set today = date() %}
{% set yesterday = date('-1days') %}
{% block pagenav %}
    {% if pages > 1 %}
        <div class="row">
            <div class="cell rw-12 padded center">
                <div class="forum-button" x-forum-action="post-pager" x-to-page="1"><i class="fa fa-fast-backward"></i></div>
                <div class="forum-button" x-forum-action="post-pager" x-to-page="{{ current_page - 1 }}"><i class="fa fa-backward"></i></div>
                <div class="forum-button">{{ 'Seite %page%/%pages%'|trans({'%page%': current_page, '%pages%': pages},'global') }}</div>
                <div class="forum-button" x-forum-action="post-pager" x-to-page="{{ current_page + 1 }}"><i class="fa fa-forward"></i></div>
                <div class="forum-button" x-forum-action="post-pager" x-to-page="{{ pages }}"><i class="fa fa-fast-forward"></i></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
<div class="forum-posts">
    {% for post in posts %}
        <div class="forum-post">
            <div class="forum-post-header">
                <i>
                    {% if post.date.format('Ymd') == today|date("Ymd") %}
                        {{ 'Heute um'|trans({},'global') }}{{ post.date.format(' G:i') }}
                    {% elseif post.date.format('Ymd') == yesterday|date("Ymd") %}
                        {{ 'Gestern um'|trans({},'global') }}{{ post.date.format(' G:i') }}
                    {% else %}
                        {{ post.date.format('D, d.m.Y G:i') }}
                    {% endif %}
                </i>
                <b>
                    {% if post.owner.username == 'Der Rabe' %}
                        {{ 'Der Rabe'|trans({},'global') }}
                    {% else %}
                        {{ post.owner.username }}
                    {% endif %}
                </b>
                {% if post.note is not null %}<br /><span>{{ post.note }}</span>{% endif %}
            </div>
            <div class="forum-post-content">{{ post.text|raw }}</div>
        </div>
    {% endfor %}
</div>
    <div class="row">
        <div class="cell rw-12 right">
        {% if pages == current_page and not locked %}
            <div x-forum-action="answer" class="forum-button">{{ 'Antworten'|trans({},'global') }}</div>
        {% endif %}
        {% if is_granted("ROLE_ADMIN")%}
            {% if not locked %}
                <div x-forum-moderator-action="lock" class="forum-button"><img src="{{ asset('build/images/mod.png') }}" />{{ 'Schließen'|trans({},'global') }}</div>
            {% endif %}
            {% if locked %}
                <div x-forum-moderator-action="unlock" class="forum-button"><img src="{{ asset('build/images/mod.png') }}" />{{ 'Öffnen'|trans({},'global') }}</div>
            {% endif %}
        {% endif %}
        </div>
    </div>
{{ block('pagenav') }}
<script>
    {% if is_granted("ROLE_ADMIN")%}
        {% if not locked %}
            let lock_button = document.querySelector('[x-forum-moderator-action=lock]');
            lock_button.addEventListener('click', function() {
                $.ajax.no_history().load( null, '{{ url('forum_thread_lock_controller', {fid: fid, tid: tid}) }}', false )
            })
        {% endif %}
        {% if locked %}
            let unlock_button = document.querySelector('[x-forum-moderator-action=unlock]');
            unlock_button.addEventListener('click', function() {
                $.ajax.no_history().load( null, '{{ url('forum_thread_unlock_controller', {fid: fid, tid: tid}) }}', false )
            })
        {% endif %}
    {% endif %}
    let new_post_btns = document.querySelectorAll('[x-forum-action=answer]');
    for (let i = 0; i < new_post_btns.length; i++)
        new_post_btns[i].addEventListener('click', function() {
            new_post_btns[i].parentNode.removeChild(new_post_btns[i]);
            $.ajax.no_history().load( document.getElementById('forum-editor'), '{{ url('forum_post_editor_controller', {fid: fid, tid: tid}) }}', false )
        })
    let nav_buttons =  document.querySelectorAll('[x-forum-action="post-pager"][x-to-page]');
    for (let i = 0; i < nav_buttons.length; i++)
        nav_buttons[i].addEventListener('click', function() {
            let editor = document.getElementById('forum-editor');
            {let c; while ((c = editor.firstChild)) editor.removeChild(c);}
            $.ajax.no_history().load( document.getElementById('forum-content'), '{{ path('forum_viewer_controller', {fid: fid, tid: tid}) }}', false, {page: parseInt( this.getAttribute('x-to-page') )} )
        })
    {% if pages == current_page %}
        let thread_listings = document.querySelectorAll('[x-thread-id="{{ tid }}"]');
        for (let i = 0; i < thread_listings.length; i++)
            thread_listings[i].classList.remove('forum-thread-unread');
    {% endif %}
</script>