{% extends "ajax/game/game.html.twig" %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}

{# @var forum \App\Entity\Forum #}
{% macro display_thread_list( list, fid, icon, title ) %}
    <div class="forum-note">
        <b><i class="fa {{ icon }}"></i> {{ title }}</b>
        {% for thread in list %}
        <div class="row forum-thread {% if not thread.new %}forum-thread-unread{% endif%}" x-public-route="{{ path('forum_thread_view', {fid: fid, tid: thread.id }) }}" x-post-source="{{ path('forum_viewer_controller', {fid: fid, tid: thread.id }) }}" x-thread-id="{{ thread.id }}">
            {# @var thread \App\Entity\Thread #}
            <div class="cell rw-1 status" style="padding: 5px;">
                {% if thread.locked %}
                    <img alt="" src="{{ asset('build/images/icons/lock.gif') }}" />
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="cell rw-8 title"  style="padding: 5px;">
                <div>
                    {% if thread.translatable %}
                        {{ thread.title|trans({},'game') }}
                    {% else %}
                        {{ thread.title }}
                    {% endif %}
                    {% if thread.hasAdminAnnounce %}
                    <span class="float-right">
                        <img alt="" src="{{ asset('build/images/forum/adminAnnounce.png') }}" />
                        <div class="tooltip forum-tooltip">
                            {{'Dieses Thema enthält offizielle Ansagen der Website Administratoren.'|trans({}, 'global')}}
                        </div>
                    </span>
                    {% elseif thread.hasOracleAnnounce %}
                    <span class="float-right">
                        <img src="{{ asset('build/images/forum/announce.png') }}" />
                        <div class="tooltip forum-tooltip">
                            {{'Dieses Thema enthält Ansagen von Community-Vertretern.'|trans({}, 'global')}}
                        </div>
                    </span>
                    {% endif %}
                </div>
            </div>
            <div class="cell rw-3 right count" style="background:#593223; padding: 5px;">
                {% if thread.posts|length > 1 %}
                    {{ thread.posts|length - 1 }}
                {% endif %}
                <br />
                {% set last_post = thread.posts|length > 0 ? thread.posts[thread.posts|length-1] : null %}
                {% if last_post and last_post.owner %}
                    {% if last_post.owner.username == 'Der Rabe' %}
                        {{ 'Der Rabe'|trans({},'global') }}
                    {% else %}
                        {{ last_post.owner.username }}
                    {% endif %}
                {% elseif thread.owner %}
                    {% if thread.owner.username == 'Der Rabe' %}
                        {{ 'Der Rabe'|trans({},'global') }}
                    {% else %}
                        {{ thread.owner.username }}
                    {% endif %}
                {% else %}
                    {{ 'Der Rabe'|trans({},'global') }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block ajax %}
    <div class="row">
        <div class="cell rw-12">
            <div class="row">
                <div class="cell padded rw-4 rw-md-12">
                    <div class="forum-control">
                        <b><i class="fa fa-scroll"></i> {{ forum.title }}</b>
                        <div class="forum-button-bar">
                            <div x-ajax-href="{{ url('forum_list') }}" class="forum-button"><img src="{{ asset('build/images/forum/back.png') }}" /><div class="tooltip">{{ 'Zurück'|trans({},'global') }}</div></div>
                            <div x-ajax-href="{{ url('forum_view', {id: forum.id}) }}" class="forum-button"><img src="{{ asset('build/images/forum/refresh.png') }}" /><div class="tooltip">{{ 'Liste der Themen aktualisieren'|trans({},'global') }}</div></div>
                            {% if is_granted("ROLE_BANNED") %}
                                <div class="forum-button-disabled" id="banned">{{ 'Neues Thema'|trans({},'global') }}</div>
                            {% else %}
                                <div x-forum-action="new" class="forum-button" id="new-thread-button"><span>{{ 'Neues Thema'|trans({},'global') }}</span></div>
                            {% endif %}    
                        </div>
                    </div>
                    <br />
                    {% if pinned_threads %}
                        {{ _self.display_thread_list(pinned_threads, forum.id, 'fa-thumbtack', 'Sticky'|trans({}, 'global')) }}
                        <br />
                    {% endif %}

                    {{ _self.display_thread_list(threads, forum.id, 'fa-scroll', forum.title) }}
                </div>

                <div class="cell padded rw-8 rw-md-12">
                    <div id="forum-content">
                        <div class="forum-note">
                            <b>{{ 'Bitte halte dich an die Regeln:'|trans({},'global') }}</b>
                            <ul>
                                <li>{{ 'Achte auf deine Rechtschreibung'|trans({},'global') }}</li>
                                <li>{{ 'Bleibe höflich und freundlich'|trans({},'global') }}</li>
                                <li>{{ 'Werbung ist verboten (Links etc.)'|trans({},'global') }}</li>
                            </ul>
                        </div>
                    </div>
                    <div id="forum-editor">

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>

        {% if not is_granted("ROLE_BANNED") %}
            let new_post_btns = document.querySelectorAll('[x-forum-action=new]');
            for (let i = 0; i < new_post_btns.length; i++)
                new_post_btns[i].addEventListener('click', function() {
                    for (let j = 0; j < thread_buttons.length; j++) thread_buttons[j].classList.remove('selected');
                    let viewer = document.getElementById('forum-content');
                    {let c; while ((c = viewer.firstChild)) viewer.removeChild(c);}
                    $.ajax.no_history().load( document.getElementById('forum-editor'), '{{ url('forum_thread_editor_controller', {id: forum.id}) }}', false )
                })            
        {% endif %}

        let thread_buttons = document.querySelectorAll('[x-thread-id]');
        for (let i = 0; i < thread_buttons.length; i++) {
            thread_buttons[i].addEventListener('click', function () {
                for (let j = 0; j < thread_buttons.length; j++) thread_buttons[j].classList.remove('selected');
                this.classList.add('selected');
                let editor = document.getElementById('forum-editor');
                {
                    let c;
                    while ((c = editor.firstChild)) editor.removeChild(c);
                }
                $.ajax.no_history().load(document.getElementById('forum-content'), this.getAttribute('x-post-source'), false)
                $.ajax.push_history(this.getAttribute('x-public-route'));
            });
            thread_buttons[i].addEventListener('mousedown', function (e) {
                if (e.button === 1) {
                    e.preventDefault();
                    window.open(this.getAttribute('x-public-route'), '_blank');
                }
            });
        }
        let selection_target = document.querySelector('[x-thread-id="{{ select }}"]');
        if (selection_target) selection_target.click();

        let nav_buttons =  document.querySelectorAll('[x-forum-action="thread-pager"][x-to-page]');
        for (let i = 0; i < nav_buttons.length; i++)
            nav_buttons[i].addEventListener('click', function() {
                $.ajax.no_history().load( null, '{{ path('forum_view', {id: forum.id}) }}', false, {page: parseInt( this.getAttribute('x-to-page') )} )
            })

    </script>
{% endblock %}