<div class="row">
    <div class="cell rw-12 padded">
        <h5>{{ 'Durch überleben!'|trans({},'soul') }}</h5>
        <div class="row-table">
            <div class="row header">
                <div class="padded cell center rw-2">{{ 'Erfahrung'|trans({},'soul') }}</div>
                <div class="padded cell center rw-2">{{ 'Erworben'|trans({},'soul') }}</div>
                <div class="padded cell rw-6">{{ 'Beschreibung'|trans({},'soul') }}</div>
            </div>
            {% for entry in days %}
                <div class="row">
                    <div class="padded cell rw-2 center">
                        {{ entry['value'] }}
                        {% if entry['valueNote'] is not null %}
                            <div class="small">{{ entry['valueNote'] }}</div>
                        {% endif %}
                    </div>
                    <div class="padded cell rw-2 center">
                        {% if not entry['repeat'] and entry['achieved'] %}
                            <img alt="" src="{{ asset('build/images/assets/img/icons/tickOn.gif') }}" />
                        {% elseif not entry['repeat'] and not entry['achieved'] %}
                            <img alt="" src="{{ asset('build/images/assets/img/icons/tickOff.gif') }}" />
                        {% elseif entry['repeat'] and entry['total'] > 0 %}
                            {{ entry['total'] }}
                        {% endif %}
                    </div>
                    <div class="padded cell rw-8">
                        {{ entry['description'] }}
                        {% if entry['repeat'] %}
                            <div class="small">{{ 'Kann beliebig oft in einer Saison verdient werden!'|trans({},'soul') }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="cell rw-12 padded">
        <h5>{{ 'Durch Auszeichnungen!'|trans({},'soul') }}</h5>
        <div class="row-table">
            <div class="row header">
                <div class="padded cell center rw-2">{{ 'Erfahrung'|trans({},'soul') }}</div>
                <div class="padded cell center rw-2">{{ 'Erworben'|trans({},'soul') }}</div>
                <div class="padded cell rw-6">{{ 'Auszeichnung'|trans({},'soul') }}</div>
            </div>
            {% for entry in pictos %}
                <div class="row">
                    <div class="padded cell rw-2 center">
                        {{ entry['value'] }}
                    </div>
                    <div class="padded cell rw-2 center">
                        {% if not entry['repeat'] and entry['achieved'] %}
                            <img alt="" src="{{ asset('build/images/assets/img/icons/tickOn.gif') }}" />
                        {% elseif not entry['repeat'] and not entry['achieved'] %}
                            <img alt="" src="{{ asset('build/images/assets/img/icons/tickOff.gif') }}" />
                        {% elseif entry['repeat'] and entry['total'] > 0 %}
                            {{ entry['total'] }}
                        {% endif %}
                    </div>
                    <div class="padded cell rw-8">
                        <span class="tool">
                            <img alt="" src="{{ asset('build/images/pictos/' ~ entry['icon'] ~ '.gif') }}" />
                            {{ entry['name'] }}
                            {% if entry['valuePost'] is not null %}
                                <span class="small">{{ entry['valuePost'] }}</span>
                            {% endif %}
                        </span>
                        {% if entry['valueNote'] is not null %}
                            <div class="small"><b>{{ entry['valueNote'] }}</b></div>
                        {% endif %}
                        {% if entry['repeat'] %}
                            <div class="small">{{ 'Kann beliebig oft in einer Saison verdient werden!'|trans({},'soul') }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="cell rw-12 padded">
        <h5>{{ 'Durch sonstige Aktionen!'|trans({},'soul') }}</h5>
        <div class="row-table">
            <div class="row header">
                <div class="padded cell center rw-2">{{ 'Erfahrung'|trans({},'soul') }}</div>
                <div class="padded cell center rw-2">{{ 'Erworben'|trans({},'soul') }}</div>
                <div class="padded cell rw-6">{{ 'Beschreibung'|trans({},'soul') }}</div>
            </div>
            {% for entry in others %}
                <div class="row">
                    <div class="padded cell rw-2 center">
                        {{ entry['value'] }}
                        {% if entry['valueNote'] is not null %}
                            <div class="small">{{ entry['valueNote'] }}</div>
                        {% endif %}
                    </div>
                    <div class="padded cell rw-2 center">
                        {% if not entry['repeat'] and entry['achieved'] %}
                            <img alt="" src="{{ asset('build/images/assets/img/icons/tickOn.gif') }}" />
                        {% elseif not entry['repeat'] and not entry['achieved'] %}
                            <img alt="" src="{{ asset('build/images/assets/img/icons/tickOff.gif') }}" />
                        {% elseif entry['repeat'] and entry['total'] > 0 %}
                            {{ entry['total'] }}
                        {% endif %}
                    </div>
                    <div class="padded cell rw-8">
                        {{ entry['description'] }}
                        {% if entry['repeat'] %}
                            <div class="small">{{ 'Kann beliebig oft in einer Saison verdient werden!'|trans({},'soul') }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
